@import "../../css/colors.less";
@import "../../css/typography.less";
@import "../../css/utility.less";



/* GUIDES */

.grid,
.grid-column-article,
.grid-column-liveblog,
.grid-column-rail,
.block-text,
.block-embed,
#canvas-pdf-article,
#canvas-pdf-liveblog {
	.wireframe-outline;
}



body {
	background-color: @fly-light-surface-secondary;
}
section {
	background-color: @fly-light-surface-primary;
}
h1 {
	padding: 40px 20px 20px 20px;
	font-family: monospace;
	font-size: 20px;
	color: rgb(@color-placeholder);
}

.grid-column-article {
	padding: @spacing-20;
	display: flex;
	flex-direction: column;
	gap: @spacing-20;
}
.grid-column-liveblog {
	padding: @spacing-20 0;
	display: flex;
	flex-direction: column;
	gap: @spacing-20;
}
.grid-column-rail {
	display: none;
	.wireframe;
}

.block-post {
	padding: 0 @spacing-20 @spacing-20 @spacing-20;
	display: flex;
	flex-direction: column;
	gap: @spacing-20;
	border-bottom: 1px solid @fly-light-utility-border;
}
.block-text {
	display: flex;
	flex-direction: column;
	gap: @spacing-20;
}
.block-embed {
}
p {
	.body-small;
}
canvas {
	direction: ltr;
}



@media only screen and (min-width: @breakpoint-tablet) {
	.grid-column-article {
		padding: @spacing-20 @spacing-40;
	}
	.grid-column-liveblog {
		padding: @spacing-20 @spacing-40;
	}
	.block-post {
		padding:  @spacing-40;
		border: 1px solid @fly-light-utility-border;
	}
	p {
		.body-large;
	}
}

@media only screen and (min-width: @breakpoint-desktop-sm) {
	.grid {
		margin: 0 auto;
		padding: 0 @spacing-20;
		width: @breakpoint-desktop-sm-content;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: @spacing-40;
	}
	.grid-column-article {
		padding: @spacing-20 0;
		grid-column: 1/9;
	}
	.grid-column-liveblog {
		padding: @spacing-20 0;
		grid-column: 2/9;
	}
	.liveblog {
		grid-column: 2/9;
	}
	.grid-column-rail {
		display: initial;
		grid-column: 9/13;
	}
	.block-text {
		padding: 0;
	}
}

@media only screen and (min-width: @breakpoint-desktop-xl) {
	.grid {
		width: @breakpoint-desktop-xl-content;
	}
	.grid-column-article {
		grid-column: 1/10;
	}
	.grid-column-liveblog {
		grid-column: 2/10;
	}
	.grid-column-rail {
		display: initial;
		grid-column: 10/13;
	}
}


