@import "../../css/colors.less";
@import "../../css/typography.less";
@import "../../css/utility.less";





/*
/
/	BASIC STYLES
/
*/

html {
	scroll-behavior: smooth;
}
body {
	background-color: white;
}
main {
	position: relative;
	top: -88px;
}
@media only screen and (min-width: @break-md) {
	main {
		top: -104px;
	}
}
.shadow-on {
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.25);
}
.shadow-off {
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0);
}





/*
/
/	Z-INDEX
/
*/

#stickers {
	z-index: 99;
}
#include-nav-sub {
	z-index: 9;
}







/*
/
/	ADS
/
*/

#bottomunit {
	position: sticky;
	bottom: 0;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(@color-neutral-100,.65);
	text-align: center;
	div {
		width: 100%;
		height: 90px;
		.wireframe-opaque;
	}
}
@media only screen and (min-width: @break-md) {
	#bottomunit div {
		width: 768px;
	}
}







/*
/
/	NAVIGATION
/
*/

#stickers {
	position: sticky;
	top: 0;
	width: 100%;
}
#include-nav-sub {
	/* required */
	position: relative;
}
.shadow-on {
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.25);
}
.shadow-off {
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0);
}

/* DARK OVERRIDES */
#include-nav-main {
	nav {
		background-image: linear-gradient(rgba(@color-neutral-100,1), rgba(@color-neutral-100,.85));
		-webkit-backdrop-filter: saturate(200%) blur(20px);
		backdrop-filter: saturate(200%) blur(20px);
		background-color: rgb(@color-neutral-100);
		.hr-dark;
	}
	nav a {
		color: rgb(@color-neutral-0);
	}
	nav a.hover-effect:hover > div {
		background-color: rgba(@color-neutral-0,.2);
	}
	svg {
		fill: rgb(@color-neutral-0);
	}
}
#include-nav-sub {
	nav {
		background-color: rgb(@color-neutral-100);
		.hr-dark;
	}
	nav a {
		color: rgb(@color-neutral-0);
	}
	nav a.hover-effect:hover > div {
		background-color: rgba(@color-neutral-0,.2);
	}
	nav .separator {
		color: rgb(@color-neutral-0);
	}
}
.flyout-account {
	a {
		color: rgb(@color-neutral-100) !important;
	}
}






/*
/
/	ARTICLE HEADER
/
*/

.live-updates {
	/* nav height + vertical spacing */
	padding: calc(88px) 0 0 0;
	background-color: rgb(@color-neutral-100);
}
.live-updates .article-header {
	padding: 20px;
}
.live-updates .article-header h1 {
	.epsilon;
	color: rgb(@color-neutral-0);
}
.live-updates .article-header p {
	.byline-small;
	color: rgb(@color-neutral-0);
}
.live-updates .article-header a {
	font-family: "ProximaNova-Bold", sans-serif;
	color: rgb(@color-neutral-0);
	text-decoration: none;
}
.live-updates .article-header a:hover {
	text-decoration: underline;
}
.live-updates .article-header .byline {
	margin: 20px 0 0 0;
	padding: 20px 0 0 0;
	display: flex;
	flex-direction: column;
	gap: 4px;
	border-top: 1px solid rgba(@color-neutral-0,.15);
}
.live-updates .app-social {
	display: none;
}
@media only screen and (min-width: @break-sm) {
	.live-updates .live-updates {
		/* nav height + vertical spacing */
		padding: calc(88px + 20px) 40px 20px 40px;
	}
	.live-updates .container {
		padding: 20px;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 20px;
	}
	.live-updates .article-header {
		padding: 0;
		grid-column: 1/9;
	}
	.live-updates .article-header p {
		.byline-large;
	}
	.live-updates .app-social {
		display: initial;
		margin: 20px 0 0 0;
		height: 32px;
		.wireframe;
	}
	.live-updates video {
		grid-column: 9/13;
	}
}
@media only screen and (min-width: @break-md) {
	.live-updates {
		padding: calc(104px + 20px) 0 20px 0;
	}
	.live-updates .container {
		margin: 0 auto;
		padding: 0;
		width: @break-md-container;
		grid-gap: 40px;
	}
	.live-updates .article-header {
		padding: 0;
		grid-column: 2/9;
	}
	.live-updates .article-header h1 {
		.delta;
	}
}
@media only screen and (min-width: @break-lg) {
	.live-updates .container {
		width: @break-lg-container;
	}
}







/*
/
/	ARTICLE HEADER COLLAPSED
/
*/

.live-updates-collapsed {
	padding: 20px;
	background-color: rgb(@color-neutral-100);
	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 20px;
	}
	.article-header {
		color: rgb(@color-neutral-0);
	}
	.flag {
		display: none;
	}
	h1 {
		.eta-sans;
	}
	p {
		.byline-small;
	}
	.byline {
		margin: 20px 0 0 0;
		display: flex;
		flex-direction: column;
		gap: 4px;
	}
	.app-social {
		display: none;
	}
	video {
		width: 144px;
	}
}
@media only screen and (min-width: @break-sm) {
	.live-updates-collapsed {
		padding: 20px 40px;
		.flag {
			display: inline-flex;
		}
		h1 {
			.zeta-sans;
		}
		p {
			.byline-large;
		}
		.app-social {
			display: initial;
			margin: 20px 0 0 0;
			height: 32px;
			.wireframe;
		}
		video {
			width: 224px;
		}
	}
}
@media only screen and (min-width: @break-md) {
	.live-updates-collapsed {
		padding: 20px 0;
		.grid {
			margin: 0 auto;
			width: @break-md-container;
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			grid-gap: 40px;
		}
		.container {
			grid-column: 2/13;
		}
		video {
			width: 300px;
		}
	}
}
@media only screen and (min-width: @break-lg) {
	.live-updates-collapsed {
		.grid {
			width: @break-lg-container;
		}
	}
}







/*
/
/	TOPICS & FLAGS
/
*/

.article-header {
	.flag {
		/*height: 16px;*/
		margin: 0 0 10px 0;
		padding: .75em .35em .7em .5em;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 3px;
		.metadata-default-bold;
		line-height: 0 !important;
		text-decoration: none;
		background-color: rgba(@color-neutral-0,.15);
		border: 1px solid rgba(@color-neutral-0,0);
		color: rgb(@color-neutral-0);
	}
	.flag-live {
		background-color: rgba(@color-neutral-0,1);
		border: 1px solid rgba(@color-neutral-0,0);
		color: rgb(@color-live);
	}
}
@media only screen and (min-width: @break-md) {
	.article-header {
		.flag {
			.metadata-large-bold;
		}
	}
}








/*
/
/	VIDEO
/
*/

video {
	width: 100%;
}







/*
/
/	ARTICLE BODY & RAIL
/
*/
.article-body {
	.block {
		margin: 20px;
	}
	.what-were-covering {
		h1 {
			/* .epsilon; */
			margin: 0 0 16px 0;
			font-family: "ProximaNova-Bold", sans-serif;
			font-style: normal;
			font-size: 20px;
			line-height: 1;
		}
		ul {
			margin: 0 20px 0 20px;
			list-style: disc;
		}
		li {
			font-family: "ProximaNova-Regular", sans-serif;
			font-style: normal;
			font-size: 18px;
			line-height: 1.2;
		}
		li:not(:last-child) {
			margin: 0 0 .4em 0;
		}
		a {
			color: rgb(@color-neutral-100);
			text-decoration: underline;
			display: block;
		}
		a:hover {
			color: rgb(@color-neutral-50);
		}
	}
	.post {
		padding-bottom: 20px;
		border-bottom: 1px solid rgb(@color-neutral-10);
		h1 {
			margin: 0 0 20px 0;
			.epsilon;
		}
		.timestamp,
		.byline {
			.metadata-large-bold;
		}
	}
	p {
		.body-small;
		color: rgb(@color-neutral-100);
	}
	p:not(:last-child) {
		margin: 0 0 .8em 0;
	}
}
.rail {
	display: none;
}
@media only screen and (min-width: @break-sm) {
	.article-body {
		.block {
			margin: 40px;
		}
		.what-were-covering {
			ul {
				margin: 0 40px 0 20px;
				list-style: disc;
			}
			h1 {
				font-size: 22px;
			}
			li {
				font-size: 20px;
			}
		}
		.post {
			padding: 40px;
			border: 1px solid rgb(@color-neutral-10);
			h1 {
				.delta;
			}
		}
		p {
			.body-large;
		}
	}
}
@media only screen and (min-width: @break-md) {
	.article-body {
		margin: 0 auto;
		width: @break-md-container;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 40px;
		.main {
			grid-column: 2/9;
		}
		.block {
			margin: 40px 0;
		}
	}
	.rail {
		display: initial;
		margin: 40px 0 0 0;
		grid-column: 9/13;
	}
}
@media only screen and (min-width: @break-lg) {
	.article-body {
		width: @break-lg-container;
		.main {
			grid-column: 2/10;
		}
	}
	.rail {
		grid-column: 10/13;
	}
}






.post-scrolled-no {
	scroll-margin-top: 80px;
	scroll-snap-margin-top: 80px; /* iOS 11 and older */
}
.post-scrolled-yes {
	scroll-margin-top: 220px;
	scroll-snap-margin-top: 220px; /* iOS 11 and older */
}
@media only screen and (min-width: @break-sm) {
	.post-scrolled-no {
		scroll-margin-top: 80px;
		scroll-snap-margin-top: 80px; /* iOS 11 and older */
	}
	.post-scrolled-yes {
		scroll-margin-top: 280px;
		scroll-snap-margin-top: 280px; /* iOS 11 and older */
	}
}





