@import "../../css/colors.less";
@import "../../css/typography.less";
@import "../../css/utility.less";





/*
/
/	BASIC STYLES
/
*/

body {
	background-color: white;
}
main {
	position: relative;
	top: -88px;
}
@media only screen and (min-width: @break-md) {
	main {
		top: -104px;
	}
}





/*
/
/	IFRAMES
/
*/

iframe {
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
}
iframe + p {
	/* hack for vertical spacing */
	padding-top: 20px
}





/*
/
/	Z-INDEX
/
*/

.sidePanel {
	z-index: 9999;
}
#stickers {
	z-index: 999;
}
#video-persist {
	z-index: 99;
}
#include-nav-sub {
	z-index: 9;
}







/*
/
/	ADS
/
*/

#topunit {
	display: none;
}
#bottomunit {
	position: sticky;
	bottom: 0;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(@color-neutral-100,.65);
	text-align: center;
}
#bottomunit div {
	width: 100%;
	height: 90px;
	.wireframe-opaque;
}
@media only screen and (min-width: @break-sm) {
	#topunit {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgb(@color-neutral-100);
		text-align: center;
	}
	#topunit div {
		width: 768px;
		height: 90px;
		.wireframe-opaque;
	}
	#bottomunit div {
		width: 768px;
	}
}
@media only screen and (min-width: @break-md) {
}







/*
/
/	OPENWEB
/
*/

.sidePanel {
	position: fixed;
	top: 49px;
	right: -100vw;
	height: 100%;
	width: 100vw;
}
.sidePanel div {
	width: 100%;
	height: 100%;
	.wireframe-opaque;
	flex-direction: column;
	gap: 10px;
}
.sidePanel button {
	padding: 1em;
	color: white;
	background-color: rgb(@color-placeholder);
	border: none;
	text-align: center;
	text-decoration: none;
}
.sidePanel.horizIn {
	transition: right .4s ease-in-out;
	right: 0px !important;
}
.sidePanel.horizOut {
	transition: right .4s ease-in-out;
	right: -100vw !important;
}
@media only screen and (min-width: @break-sm) {
	.sidePanel {
		right: -360px;
		top: 139px;
		width: 360px;
	}
	.sidePanel.horizIn {
		right: 0px !important;
		box-shadow: -4px 4px 12px 0 rgba(0,0,0,.25);
	}
	.sidePanel.horizOut {
		right: -360px !important;
		box-shadow: -4px 4px 12px 0 rgba(0,0,0,0);
	}
}
@media only screen and (min-width: @break-md) {
	.sidePanel {
		top: 155px;
	}
}







/*
/
/	NAV
/
*/

#stickers {
	position: sticky;
	top: 0;
	width: 100%;
}
#include-nav-sub {
	/* required */
	position: relative;
}
.shadow-on {
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.25);
	/* for testing:
	border-bottom: 10px solid salmon;
	*/
}
.shadow-off {
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0);
}

/* DARK OVERRIDES */
#include-nav-main nav {
	background-image: linear-gradient(rgba(@color-neutral-100,1), rgba(@color-neutral-100,.85));
	-webkit-backdrop-filter: saturate(200%) blur(20px);
	backdrop-filter: saturate(200%) blur(20px);
	background-color: rgba(@color-neutral-100,0);
	.hr-dark;
}
#include-nav-sub nav {
	background-color: rgb(@color-neutral-100);
	.hr-dark;
}
#include-nav-main nav a,
#include-nav-sub nav a {
	color: rgb(@color-neutral-0);
}
#include-nav-main svg {
	fill: rgb(@color-neutral-0);
}
#include-nav-main nav a.hover-effect:hover > div,
#include-nav-sub nav a.hover-effect:hover > div  {
	background-color: rgba(@color-neutral-0,.2);
}
#include-nav-sub nav .separator {
	color: rgb(@color-neutral-0);
}







/*
/
/	ARTICLE HEADER
/
*/

.article-header {
	/* nav height + vertical spacing */
	padding: calc(88px + 20px) 20px 20px 20px;
	background-color: rgb(@color-neutral-100);
}
.article-header h1 {
	.epsilon;
	color: rgb(@color-neutral-0);
}
.article-header p,
.article-header li {
	.byline-small;
	color: rgb(@color-neutral-0);
}
.article-header a {
	font-family: "ProximaNova-Bold", sans-serif;
	color: rgb(@color-neutral-0);
	text-decoration: none;
}
.article-header a:hover {
	text-decoration: underline;
}
.article-header .byline-container {
	margin: 20px 0 0 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: @spacing-20;
}
.article-header .chip {
	width: 60px;
	height: 60px;
}
.article-header .byline {
	height: 60px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 4px;
	border-top: 1px solid rgba(@color-neutral-0,.15);
}
.article-header .credits {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
@media only screen and (min-width: @break-sm) {
	.article-header {
		/* nav height + vertical spacing */
		padding: calc(88px + 20px) 40px 20px 40px;
	}
	.article-header h1 {
		.delta;
	}
	.article-header p,
	.article-header li {
		.byline-large;
	}
}
@media only screen and (min-width: @break-md) {
	.article-header {
		/* nav height + vertical spacing */
		padding: calc(104px + 40px) 0 20px 0;
	}
	.article-header .container {
		margin: 0 auto;
		width: @break-md-container;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 40px;
	}
	.article-header .hgroup {
		grid-column: 1/11;
	}
	.article-header h1 {
		.gamma;
	}
	.article-header .byline {
		height: 80px;
	}
	.article-header .chip {
		width: 80px;
		height: 80px;
	}
}
@media only screen and (min-width: @break-lg) {
	.article-header .container {
		width: @break-lg-container;
	}
	.article-header .hgroup {
		grid-column: 1/10;
	}
}





/*
/
/	ARTICLE SOCIAL
/
*/

.article-social {
	display: flex;
	flex-direction: row;
	gap: 8px;
	svg {
		width: 16px;
		height: 16px;
		transition: all 0.15s linear;
	}
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 16px;
		text-decoration: none !important; /* conflict? */
		font-family: "ProximaNova-Bold", sans-serif;
		font-style: normal;
		font-size: 12px;
		transition: all 0.15s linear;
	}
	/* PRIMARY BUTTON */
	a.primary {
		gap: 4px;
		padding: 0 12px;
		height: 32px;
		border: 1px solid rgb(@color-neutral-0);
		background-color: rgb(@color-neutral-0);
		color: rgb(@color-neutral-100);
	}
	a.primary span {
		display: none;
	}
	a.primary svg {
		fill: rgb(@color-neutral-100);
	}
	a.primary:hover {
		background-color: rgb(@color-neutral-100);
		color: rgb(@color-neutral-0);
	}
	a.primary:hover svg {
		fill: rgb(@color-neutral-0);
	}
	/* SECONDARY BUTTON */
	a.secondary {
		width: 32px;
		height: 32px;
		border: 1px solid rgb(@color-neutral-80);
	}
	a.secondary svg {
		fill: rgb(@color-neutral-0);
	}
	a.secondary:hover {
		border: 1px solid rgb(@color-neutral-0);
	}
	li:not(:first-child) {
		display: none;
	}
}
/* show all */
@media only screen and (min-width: @break-sm) {
	.article-social {
		a.primary span,
		li:not(:first-child) {
			display: initial;
		}
	}
}

/* inline version (light theme) */
.article-body .article-social {
	justify-content: center;
	a.primary {
		border: 1px solid rgb(@color-neutral-100);
		background-color: rgb(@color-neutral-100);
		color: rgb(@color-neutral-0);
	}
	a.primary:hover {
		border: 1px solid rgb(@color-neutral-100);
		background-color: rgb(@color-neutral-white);
		color: rgb(@color-neutral-100);
	}
	a.primary svg {
		fill: rgb(@color-neutral-0);
	}
	a.primary:hover svg {
		fill: rgb(@color-neutral-100);
	}
	a.secondary {
		border: 1px solid rgb(@color-neutral-20);
	}
	a.secondary svg {
		fill: rgb(@color-neutral-100);
	}
	a.secondary:hover {
		border: 1px solid rgb(@color-neutral-100);
	}
	/* display in full at all breakpoints, if inline */
	a.primary span,
	li:not(:first-child) {
		display: initial;
	}
}







/*
/
/	ARTICLE HEADER: TOPICS & FLAGS
/
*/

.article-header .topic a,
.article-header .flag {
	/*height: 16px;*/
	margin: 0 0 10px 0;
	padding: .75em .35em .7em .5em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	.metadata-default-bold;
	line-height: 0 !important;
	text-decoration: none;
}
.article-header .topic a {
	background-color: rgba(@color-neutral-0,0);
	border: 1px solid rgb(@color-graydark);
	color: rgb(@color-neutral-0);
}
.article-header .topic a:hover {
	background-color: rgba(@color-neutral-0,1);
	border: 1px solid rgb(@color-neutral-0);
	color: rgb(@color-neutral-100);
}
.article-header .flag {
	background-color: rgba(@color-neutral-0,.15);
	border: 1px solid rgba(@color-neutral-0,0);
	color: rgb(@color-neutral-0);
}
@media only screen and (min-width: @break-md) {
	.article-header .topic a,
	.article-header .flag {
		/*height: 20px;*/
		.metadata-large-bold;
	}
}









/*
/
/	ARTICLE VIDEO
/
*/

/* INLINE VIDEO */
.video-inline {
	width: 100%;
}

/* PERSISTENT VIDEO */
#video-persist {
	/* remember: don't declare DISPLAY here! */
	/* 
	position: static;
	position: relative;
	position: absolute;
	*/
	position: fixed;
	top: 0;
	flex-direction: row;
	align-items: center;
	gap: @spacing-8;
	padding: @spacing-8;
	width: 100%;
	box-sizing: border-box; /* allow for padding */
	-webkit-backdrop-filter: saturate(200%) blur(20px);
	backdrop-filter: saturate(200%) blur(20px);
	background-color: rgba(@color-neutral-100,.85);
	box-shadow: 0 0 25px 0 rgba(0,0,0,.3);
	.hr-dark-top;
	video {
		width: 176px;
		height: 99px;
		border-radius: 4px;
	}
	div {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: @spacing-8;
	}
	span {
		font-family: "ProximaNova-Bold", sans-serif;
		font-style: normal;
		font-size: 16px;
		line-height: 120%;
		color: rgb(@color-neutral-0);
	}
	svg {
		height: 16px;
		width: 16px;
		fill: rgb(@color-neutral-0);
	}
	a:hover svg {
		fill: rgba(@color-neutral-0,.75);
	}
}
.video-persist-hide {
	display: none;
}
.video-persist-show {
	display: flex;
}
.video-persist-slideIn {
	/*
	top: 0; 
	*/
	/* nav height + border */
	margin-top: calc(48px + 1px);
	/* transition only for these classes, to avoid weirdness */
	transition: .4s ease-in-out;
}
.video-persist-slideOut {
	/*
	top: -168px;
	*/
	margin-top: -168px;
	/* transition only for these classes, to avoid weirdness */
	transition: .4s ease-in-out;
}
@media only screen and (min-width: @break-sm) {
	#video-persist {
		position: fixed;
		gap: 0;
		padding: 0;
		width: 448px;
		height: 252px;
		top: 160px;
		right: 20px;
		border: none;
		video {
			width: 448px;
			height: 252px;
			border-radius: 0;
		}
		div {
			display: none;
		}
	}
}
@media only screen and (min-width: @break-md) {
	#video-persist {
		top: 180px;
		left: 20px;
	}
}
@media only screen and (min-width: @break-lg) {
}







/*
/
/	ARTICLE BODY
/
*/

.article-body {
}
.article-body .main {
}
.article-body .block {
	margin: 20px;
}
.article-body p {
	margin: 0 0 .8em 0;
	.body-small;
	color: rgb(@color-neutral-100);
}
.article-body strong {
	.body-strong;
}
.bureau {
	.body-emphasis;
}
.rail {
	display: none;
}
@media only screen and (min-width: @break-sm) {
	.article-body {
	}
	.article-body .main {
	}
	.article-body .block {
		margin: 40px;
	}
	.article-body p {
		.body-large;
	}
}
@media only screen and (min-width: @break-md) {
	.article-body {
		margin: 0 auto;
		width: @break-md-container;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 40px;
	}
	.article-body .main {
		grid-column: 1/9;
	}
	.article-body .block {
		margin: 40px 0;
	}
	.rail {
		display: initial;
		margin: 40px 0 0 0;
		grid-column: 9/13;
	}
}
@media only screen and (min-width: @break-lg) {
	.article-body {
		width: @break-lg-container;
	}
	.article-body .main {
		grid-column: 1/10;
	}
	.rail {
		grid-column: 10/13;
	}
}








