@import "../../css/colors.less";
@import "../../css/typography.less";
@import "../../css/utility.less";





/*
/
/	BASIC STYLES
/
*/

body {
	background-color: white;
}
main {
	position: relative;
	top: -88px;
}
@media only screen and (min-width: @break-md) {
	main {
		top: -104px;
	}
}
.shadow-on {
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.25);
}
.shadow-off {
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0);
}





/*
/
/	Z-INDEX
/
*/

#stickers {
	z-index: 99;
}
#include-nav-sub {
	z-index: 9;
}







/*
/
/	ADS
/
*/

#apppromo {
	padding: 0 9px 0 15px;
	height: 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(@color-offblack);
	.hr-dark;
}
#topunit {
	display: none;
}
#bottomunit {
	position: sticky;
	bottom: 0;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(@color-offblack,.65);
	text-align: center;
}
#bottomunit div {
	width: 100%;
	height: 90px;
	.wireframe-opaque();
}
@media only screen and (min-width: @break-sm) {
	#apppromo {
		.hr-none;
	}
	#topunit {
		display: initial;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgb(@color-offblack);
		text-align: center;
	}
}
@media only screen and (min-width: @break-md) {
	#apppromo {
		display: none;
	}
	#bottomunit div {
		width: 768px;
		.wireframe-opaque;
	}
}







/*
/
/	NAV
/
*/

#stickers {
	position: sticky;
	top: 0;
	width: 100%;
}
#include-nav-main {
	width: 100%;
}
#include-nav-sub {
	position: relative;
	width: 100%;
}
#include-nav-main nav {
	background-image: linear-gradient(rgba(@color-offblack,1), rgba(@color-offblack,.9));
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	.hr-dark;
}
#include-nav-sub nav {
	.hr-dark;
}
#include-nav-main nav a,
#include-nav-sub nav a {
	color: rgb(@color-offwhite);
}
#include-nav-main .more-grid,
#include-nav-main .more-dots,
#include-nav-main .search,
#include-nav-main .logo {
	fill: rgb(@color-offwhite);
}
#include-nav-main nav,
#mainnav a,
.logo {
	transition: all 0.2s linear;
}






/*
/
/	ARTICLE HEADER
/
*/

.article-header {
	/* nav height + vertical spacing */
	padding: calc(88px + 20px) 20px 20px 20px;
	background-color: rgb(@color-offblack);
}
.article-header h1 {
	.epsilon();
	color: rgb(@color-offwhite);
}
.article-header p {
	.byline-small();
	color: rgb(@color-offwhite);
}
.article-header a {
	font-family: "ProximaNova-Bold", sans-serif;
	color: rgb(@color-offwhite);
	text-decoration: none;
}
.article-header a:hover {
	text-decoration: underline;
}
.article-header .byline {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.article-header .byline {
	margin: 20px 0 0 0;
	padding: 20px 0 0 0;
	border-top: 1px solid rgba(@color-offwhite,.15);
}
@media only screen and (min-width: @break-sm) {
	.article-header {
		/* nav height + vertical spacing */
		padding: calc(88px + 20px) 40px 20px 40px;
	}
	.article-header h1 {
		.delta;
	}
	.article-header p {
		.byline-large;
	}
}
@media only screen and (min-width: @break-md) {
	.article-header {
		/* nav height + vertical spacing */
		padding: calc(104px + 40px) 0 20px 0;
	}
	.article-header .container {
		margin: 0 auto;
		width: @break-md-container;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 40px;
	}
	.article-header .hgroup {
		grid-column: 1/11;
	}
	.article-header h1 {
		.gamma;
	}
}
@media only screen and (min-width: @break-lg) {
	.article-header .container {
		width: @break-lg-container;
	}
	.article-header .hgroup {
		grid-column: 1/10;
	}
}





/*
/
/	ARTICLE HEADER: TOPICS & FLAGS
/
*/

.article-header .topic a,
.article-header .flag {
	height: 14px;
	margin: 0 0 10px 0;
	padding: 0 .35em 0 .5em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	.metadata-default-bold;
	text-decoration: none;
}
.article-header .topic a {
	background-color: rgba(@color-offwhite,0);
	border: 1px solid rgb(@color-graydark);
	color: rgb(@color-offwhite);
}
.article-header .topic a:hover {
	background-color: rgba(@color-offwhite,1);
	border: 1px solid rgb(@color-offwhite);
	color: rgb(@color-offblack);
}
.article-header .flag {
	background-color: rgba(@color-offwhite,.15);
	border: 1px solid rgba(@color-offwhite,0);
	color: rgb(@color-offwhite);
}
@media only screen and (min-width: @break-md) {
	.article-header .topic a,
	.article-header .flag {
		height: 18px;
		.metadata-large-bold;
	}
}









/*
/
/	ARTICLE VIDEO
/
*/

video {
	width: 100%;
}







/*
/
/	ARTICLE BODY
/
*/

.article-body {
}
.article-body .main {
}
.article-body .block {
	margin: 20px;
}
.article-body p {
	margin: 0 0 .8em 0;
	.body-small;
	color: rgb(@color-offblack);
}
.bureau {
	.body-emphasis;
}
.rail {
	display: none;
}
@media only screen and (min-width: @break-sm) {
	.article-body {
	}
	.article-body .main {
	}
	.article-body .block {
		margin: 40px;
	}
	.article-body p {
		.body-large;
	}
}
@media only screen and (min-width: @break-md) {
	.article-body {
		margin: 0 auto;
		width: @break-md-container;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 40px;
	}
	.article-body .main {
		grid-column: 1/9;
	}
	.article-body .block {
		margin: 40px 0;
	}
	.rail {
		display: initial;
		margin: 40px 0 0 0;
		grid-column: 9/13;
	}
}
@media only screen and (min-width: @break-lg) {
	.article-body {
		width: @break-lg-container;
	}
	.article-body .main {
		grid-column: 1/10;
	}
	.rail {
		grid-column: 10/13;
	}
}








