@import "../../css/colors.less";
@import "../../css/typography.less";
@import "../../css/utility.less";





/*
/
/	BASIC STYLES
/
*/

body {
	background-color: white;
}
@media only screen and (min-width: @break-md) {
	main {
		top: -104px;
	}
}
.shadow-on {
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.25);
}
.shadow-off {
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0);
}





/*
/
/	IFRAMES
/
*/

iframe {
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
}
iframe + p { padding-top: 20px } /* hack, don't know why needed */
main {
	position: relative;
	top: -88px;
}
iframe.mputest {
	height: 550px;
}





/*
/
/	Z-INDEX
/
*/

#stickers {
	z-index: 99;
}
#include-nav-sub {
	z-index: 9;
}







/*
/
/	ADS
/
*/

#topunit {
	display: none;
}
#bottomunit {
	position: sticky;
	bottom: 0;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(@color-offblack,.65);
	text-align: center;
}
#bottomunit div {
	width: 100%;
	height: 90px;
	.wireframe-opaque;
}
@media only screen and (min-width: @break-sm) {
	#topunit {
		display: initial;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgb(@color-offblack);
		text-align: center;
	}
}
@media only screen and (min-width: @break-md) {
	#bottomunit div {
		width: 768px;
	}
}







/*
/
/	NAV
/
*/

#stickers {
	position: sticky;
	top: 0;
	width: 100%;
}
#include-nav-sub {
	/* don't remember why I need this */
	position: relative;
}

/* DARK OVERRIDES */
#include-nav-main nav {
	background-image: linear-gradient(rgba(@color-neutral-100,1), rgba(@color-neutral-100,.85));
	-webkit-backdrop-filter: saturate(200%) blur(20px);
	backdrop-filter: saturate(200%) blur(20px);
	background-color: rgba(@color-neutral-100,0);
	.hr-dark;
}
#include-nav-sub nav {
	background-color: rgb(@color-neutral-100);
	.hr-dark;
}
#include-nav-main nav a,
#include-nav-sub nav a {
	color: rgb(@color-neutral-0);
}
#include-nav-main svg {
	fill: rgb(@color-neutral-0);
}
#include-nav-main nav a.hover-effect:hover > div,
#include-nav-sub nav a.hover-effect:hover > div  {
	background-color: rgba(@color-neutral-0,.2);
}
#include-nav-sub nav .separator {
	color: rgb(@color-neutral-0);
}







/*
/
/	ARTICLE HEADER
/
*/

.article-header {
	/* nav height + vertical spacing */
	padding: calc(88px + 20px) 20px 20px 20px;
	background-color: rgb(@color-offblack);
}
.article-header h1 {
	.epsilon;
	color: rgb(@color-offwhite);
}
.article-header p,
.article-header li {
	.byline-small;
	color: rgb(@color-offwhite);
}
.article-header a {
	font-family: "ProximaNova-Bold", sans-serif;
	color: rgb(@color-offwhite);
	text-decoration: none;
}
.article-header a:hover {
	text-decoration: underline;
}
.article-header .byline-container {
	margin: 20px 0 0 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: @spacing-20;
}
.article-header .chip {
	width: 60px;
	height: 60px;
}
.article-header .byline {
	height: 60px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 4px;
	border-top: 1px solid rgba(@color-offwhite,.15);
}
.article-header .credits {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
@media only screen and (min-width: @break-sm) {
	.article-header {
		/* nav height + vertical spacing */
		padding: calc(88px + 20px) 40px 20px 40px;
	}
	.article-header h1 {
		.delta;
	}
	.article-header p,
	.article-header li {
		.byline-large;
	}
}
@media only screen and (min-width: @break-md) {
	.article-header {
		/* nav height + vertical spacing */
		padding: calc(104px + 40px) 0 20px 0;
	}
	.article-header .container {
		margin: 0 auto;
		width: @break-md-container;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 40px;
	}
	.article-header .hgroup {
		grid-column: 1/11;
	}
	.article-header h1 {
		.gamma;
	}
	.article-header .byline {
		height: 80px;
	}
	.article-header .chip {
		width: 80px;
		height: 80px;
	}
}
@media only screen and (min-width: @break-lg) {
	.article-header .container {
		width: @break-lg-container;
	}
	.article-header .hgroup {
		grid-column: 1/10;
	}
}





/*
/
/	ARTICLE HEADER: SOCIAL
/
*/

.article-header .social {
	display: flex;
	flex-direction: row;
	gap: 8px;
}
.article-header .social svg {
	width: 16px;
	height: 16px;
	transition: all 0.15s linear;
}
.article-header .social a {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 16px;
	text-decoration: none;
	font-family: "ProximaNova-Bold", sans-serif;
	font-style: normal;
	font-size: 12px;
	transition: all 0.15s linear;
}

/* PRIMARY BUTTON */
.article-header .social a.primary {
	gap: 4px;
	padding: 0 12px;
	height: 32px;
	border: 1px solid rgb(@color-neutral-0);
	background-color: rgb(@color-neutral-0);
	color: rgb(@color-neutral-100);
}
.article-header .social a.primary span {
	display: none;
}
.article-header .social a.primary svg {
	fill: rgb(@color-neutral-100);
}
.article-header .social a.primary:hover {
	background-color: rgb(@color-neutral-100);
	color: rgb(@color-neutral-0);
}
.article-header .social a.primary:hover svg {
	fill: rgb(@color-neutral-0);
}

/* SECONDARY BUTTON */
.article-header .social a.secondary {
	width: 32px;
	height: 32px;
	border: 1px solid rgb(@color-neutral-80);
}
.article-header .social a.secondary svg {
	fill: rgb(@color-neutral-0);
}
.article-header .social a.secondary:hover {
	border: 1px solid rgb(@color-neutral-0);
}
.article-header .social li:not(:first-child) {
	display: none;
}

@media only screen and (min-width: @break-md) {
	.article-header .social a.primary span,
	.article-header .social li:not(:first-child) {
		display: initial;
	}
}






/*
/
/	ARTICLE HEADER: TOPICS & FLAGS
/
*/

.article-header .topic a,
.article-header .flag {
	/*height: 16px;*/
	margin: 0 0 10px 0;
	padding: .75em .35em .7em .5em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	.metadata-default-bold;
	line-height: 0 !important;
	text-decoration: none;
}
.article-header .topic a {
	background-color: rgba(@color-offwhite,0);
	border: 1px solid rgb(@color-graydark);
	color: rgb(@color-offwhite);
}
.article-header .topic a:hover {
	background-color: rgba(@color-offwhite,1);
	border: 1px solid rgb(@color-offwhite);
	color: rgb(@color-offblack);
}
.article-header .flag {
	background-color: rgba(@color-offwhite,.15);
	border: 1px solid rgba(@color-offwhite,0);
	color: rgb(@color-offwhite);
}
@media only screen and (min-width: @break-md) {
	.article-header .topic a,
	.article-header .flag {
		/*height: 20px;*/
		.metadata-large-bold;
	}
}









/*
/
/	ARTICLE VIDEO
/
*/

/* INLINE: */
.video-inline {
	width: 100%;
}

/* FLOATING: */
#video-float {
	position: fixed;
	width: 448px;
	height: 252px;
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, .3);
}
#video-float video {
	width: 448px;
	height: 252px;
}
.video-float-sm {
	display: none;
}
.video-float-md {
	display: block;
	top: 160px;
	right: 20px;
}
.video-float-lg {
	display: block;
	top: 180px;
	left: 20px;
}







/*
/
/	ARTICLE BODY
/
*/

.article-body {
}
.article-body .main {
}
.article-body .block {
	margin: 20px;
}
.article-body p {
	margin: 0 0 .8em 0;
	.body-small;
	color: rgb(@color-offblack);
}
.article-body strong {
	.body-strong;
}
.bureau {
	.body-emphasis;
}
.rail {
	display: none;
}
@media only screen and (min-width: @break-sm) {
	.article-body {
	}
	.article-body .main {
	}
	.article-body .block {
		margin: 40px;
	}
	.article-body p {
		.body-large;
	}
}
@media only screen and (min-width: @break-md) {
	.article-body {
		margin: 0 auto;
		width: @break-md-container;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 40px;
	}
	.article-body .main {
		grid-column: 1/9;
	}
	.article-body .block {
		margin: 40px 0;
	}
	.rail {
		display: initial;
		margin: 40px 0 0 0;
		grid-column: 9/13;
	}
}
@media only screen and (min-width: @break-lg) {
	.article-body {
		width: @break-lg-container;
	}
	.article-body .main {
		grid-column: 1/10;
	}
	.rail {
		grid-column: 10/13;
	}
}








