/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, hr {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* remove vertical spacing below elements */
img, video, svg {
	display: block;
}
/* fix webfont issue */
html {
	-webkit-font-smoothing: antialiased;
}
/* allow styling of individual svg symbol instances */
svg path {
	fill: inherit;
}





/*
/
/		COLORS & FONTS
/
*/

:root {
	--color-offblack: 16,16,16;						/* #101010 */
	--color-offwhite: 242,242,242;					/* #f2f2f2 */
	--color-graylight: 232,232,232;					/* #e8e8e8 */
	--color-graydark: 127,127,127;					/* #7f7f7f */
	--color-live: 182,5,5;							/* #B60505 */
	--color-sg: 118,188,237;						/* #76BCED */
	--color-sg-fill: 221,238,250;					/* #DDEEFA */
	--color-essentials: 35,65,70;					/* #234146 */
}

@font-face {
	font-family: "ProximaNova-Regular";
	src: url('../../fonts/ProximaNova-Regular-webfont.eot'); 
	src: url('../../fonts/ProximaNova-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/ProximaNova-Regular-webfont.woff2') format('woff2'),
		 url('../../fonts/ProximaNova-Regular-webfont.woff') format('woff');
}
@font-face {
	font-family: "ProximaNova-Bold";
	src: url('../../fonts/ProximaNova-Bold-webfont.eot'); 
	src: url('../../fonts/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/ProximaNova-Bold-webfont.woff2') format('woff2'),
		 url('../../fonts/ProximaNova-Bold-webfont.woff') format('woff');
}

@font-face {
	font-family: "PublicoHeadline-Bold";
	src: url('../../fonts/PublicoHeadline-Bold-Web.eot'); 
	src: url('../../fonts/PublicoHeadline-Bold-Web.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/PublicoHeadline-Bold-Web.woff2') format('woff2'),
		 url('../../fonts/PublicoHeadline-Bold-Web.woff') format('woff');
}

@font-face {
	font-family: "PublicoHeadline-Black";
	src: url('../../fonts/PublicoHeadline-Black-Web.eot'); 
	src: url('../../fonts/PublicoHeadline-Black-Web.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/PublicoHeadline-Black-Web.woff2') format('woff2'),
		 url('../../fonts/PublicoHeadline-Black-Web.woff') format('woff');
}

@font-face {
	font-family: "PublicoText-Roman";
	src: url('../../fonts/PublicoText-Roman-Web.eot');
	src: url('../../fonts/PublicoText-Roman-Web.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/PublicoText-Roman-Web.woff2') format('woff2'),
		 url('../../fonts/PublicoText-Roman-Web.woff') format('woff');
}

@font-face {
	font-family: "PublicoText-Italic";
	src: url('../../fonts/PublicoText-Italic-Web.eot');
	src: url('../../fonts/PublicoText-Italic-Web.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/PublicoText-Italic-Web.woff2') format('woff2'),
		 url('../../fonts/PublicoText-Italic-Web.woff') format('woff');
}







/*
/
/		GENERAL
/
*/

.wireframe {
	display: flex;
	background: rgb(var(--color-sg-fill));
	box-shadow: inset 0 0 0 1px rgb(var(--color-sg));
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	font-size: 14px;
	letter-spacing: 0.05em;
	color: rgb(var(--color-sg));
	text-transform: uppercase;
}
.wireframe-thumb {
	display: flex;
	background: rgb(var(--color-sg-fill));
	box-shadow: inset 0 0 0 1px rgb(var(--color-sg));
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	font-size: 14px;
	letter-spacing: 0.05em;
	color: rgb(var(--color-sg));
	text-transform: uppercase;
}
hr {
	margin: 0 0 20px 0;
	border: 0;
	height: 1px;
	background: red;
}










/*
/
/		APP & SKYBOX
/
*/

.app-promo {
	height: 45px;
}
.skybox {
	display: none;
}
@media only screen and (min-width: 1020px) {
	.app-promo {
		display: none;
	}
	.skybox {
		display: flex;
		position: sticky;
		top: 0;
		width: 100%;
		aspect-ratio: 5;
		/* transition: all 1s; */
	}
	.skybox-expanded {
		aspect-ratio: 5;
	}
	.skybox-collapsed {
		aspect-ratio: unset;
		height: 105px;
	}
}









/*
/
/		NAV & SUPERNAV
/
*/

nav {
	width: 100%;
	height: 45px;
}
.supernav {
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid rgb(var(--color-graylight));
	overflow-x: hidden;
}
.supernav ul {
	margin: 0 0 0 20px;
	display: flex;
	flex-wrap: nowrap;
}
.supernav li {
	padding: 0 15px;
	border-right: 1px solid rgb(var(--color-graydark));
	font-family: "ProximaNova-Bold", sans-serif;
	font-size: 13px;
}
.supernav li:first-child {
	padding-left: 0;
}
.supernav li:last-child {
	padding-right: 0;
	border: none;
}
.supernav a {
	text-decoration: none;
	color: rgb(var(--color-offblack));
}
.supernav a:hover {
	text-decoration: underline;
}
@media only screen and (min-width: 768px) {
	.supernav ul {
		margin: 0 0 0 40px;
	}
}
@media only screen and (min-width: 1020px) {
	nav {
		margin: 0 auto;
		width: 980px;
		height: 70px;
	}
	.supernav ul {
		margin: 0 auto;
		width: 980px;
	}
}
@media only screen and (min-width: 1360px) {
	nav {
		width: 1320px;
	}
	.supernav ul {
		width: 1320px;
	}
}








/*
/
/		ARTICLE STRUCTURE
/
*/


.article-wrapper {
}
.column-main {
}
.column-rail {
	display: none;
}
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1020px) {
	.article-wrapper {
		margin: 0 auto;
		width: 980px;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 40px;
	}
	.column-main {
		grid-column: 1/9;
	}
	.column-rail {
		margin: 20px 0 0 0;
		display: block;
		grid-column: 9/13;
	}
}

@media only screen and (min-width: 1360px) {
	.article-wrapper {
		width: 1320px;
	}
	.column-main {
		grid-column: 1/10;
	}
	.column-rail {
		grid-column: 10/13;
	}
}







/*
/
/		ARTICLE HEADER
/
*/

.article-header,
.article-body {
	margin: 20px;
}
.topic {
	margin: 0 10px 0 0;
	padding: 6px 6px 5px 8px;
	font-family: "ProximaNova-Bold", sans-serif;
	font-size: 12px;
	color: rgb(var(--color-offblack));
	letter-spacing: 2px;
	background-color: rgb(var(--color-graylight));
	text-transform: uppercase;
	border-radius: 2px;
	text-decoration: none;
}
.topic-live {
	color: rgb(var(--color-offwhite));
	background-image: linear-gradient(225deg, #E04105 0%, #B60505 100%);
}
a.topic:hover {
	text-decoration: underline;
	background: white;
	box-shadow: 0 0 0 1px rgb(var(--color-offblack)) inset;
}
.article-header h1 {
	margin: 10px 0 15px 0;
	font-family: "PublicoHeadline-Bold", serif;
	font-size: 24px;
	line-height: 1.2;
	color: rgb(var(--color-offblack));
}
.article-meta-wrapper {
	margin: 0 0 20px 0;
	display: flex;
	/*
	padding: 15px 0 0 0;
	border-top: 1px solid rgb(var(--color-graylight));
	*/
}
.article-meta {
	margin: 0 0 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.article-byline li {
	font-family: "ProximaNova-Regular", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 1;
	color: rgb(var(--color-offblack));
}
.article-byline li:not(:last-child) {
    margin-bottom: 7px;
}
.article-byline a {
	font-family: "ProximaNova-Bold", sans-serif;
	text-decoration: none;
	color: rgb(var(--color-offblack));
}
.article-byline a:hover {
	text-decoration: underline;
}
#share-wrapper {
	display: none;
}
.chip {
	width: 60px;
	height: 60px;
}
.disclaimer {
	margin: 0 0 20px 0;
	color: rgb(var(--color-offblack));
	font-family: "ProximaNova-Regular", sans-serif;
	font-size: 13px;
	line-height: 1.2;
}

@media only screen and (min-width: 768px) {
	.article-header,
	.article-body {
		margin: 20px 40px;
	}
	.article-header h1 {
		font-size: 32px;
	}
	.article-meta-wrapper {
		padding: 0;
		border: none;
	}
	.article-meta {
		/*
		border-top: 1px solid rgb(var(--color-graylight));
		*/
	}
	.article-byline li {
		font-size: 15px;
	}
	.disclaimer {
		font-size: 15px;
	}
	#share-wrapper {
		display: block;
		position: relative;
	}
	#share-btn {
		display: flex;
		width: 32px;
		height: 32px;
		background: rgb(var(--color-graylight));
		border-radius: 50%;
		justify-content: center;
		align-items: center;
		border: none;
		outline: none;
		cursor: pointer;
	}
	#share-btn:hover {
		background: white;
		box-shadow: inset 0 0 0 1px rgb(var(--color-offblack));
	}
	#share-btn svg {
		width: 16px;
		height: 16px;
		fill: rgb(var(--color-offblack));
	}
	#share-modal {
		z-index: 100;
		position: absolute;
		top: 40px;
		right: 0;
		padding: 15px;
		background: white;
		box-shadow:
			inset 0 0 0 1px rgb(var(--color-offblack)),
			0 2px 4px 0 rgba(0,0,0,.5);
		border-radius: 5px;
	}
	#share-modal img {
		width: 10px;
		height: 6px;
		position: absolute;
		top: -5px;
		right: 10px;
	}
	#share-modal ul li {
	}
	#share-modal ul li:not(:first-of-type) {
		margin: 12px 0 0 0;
	}
	#share-modal ul li:not(:last-of-type) {
		margin: 0 0 12px 0;
	}
	#share-modal a {
		display: flex;
		align-items: center;
		font-family: "ProximaNova-Bold", sans-serif;
		font-size: 12px;
		color: rgb(var(--color-offblack));
		letter-spacing: 2px;
		text-transform: uppercase;
		text-decoration: none;
		white-space: nowrap; /* prevent text wrap */
	}
	#share-modal a:hover {
		text-decoration: underline;
	}
	#share-modal svg {
		margin: 0 10px 0 0;
		width: 16px;
		height: 16px;
		fill: rgb(var(--color-offblack));
	}
}
@media only screen and (min-width: 1020px) {
	.article-header,
	.article-body {
		margin: 20px 0;
	}
}
@media only screen and (min-width: 1360px) {
}








/*
/
/		VIDEO
/
*/


/*
.lead-video-mobile,
.lead-video-mobile-fixed,
.lead-video-desktop {
	aspect-ratio: 16 / 9;
}
*/
.lead-video-mobile {
	width: 100%;
}
.lead-video-mobile-fixed {
	display: none;
	position: fixed;
	width: 224px;
	top: 10px;
	right: 10px;
	border-radius: 3px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}

@media only screen and (min-width: 768px) {
	.lead-video-mobile {
		margin: 0 auto;
		/* margin: 0 40px; */
		/* don't know why 40px margin or padding not working for video */
		width: calc(100% - 80px);
	}
	.lead-video-mobile-fixed {
		width: 300px;
		top: 20px;
		right: 20px;
	}
}

@media only screen and (min-width: 1020px) {
	.lead-video-mobile,
	.lead-video-mobile-fixed {
		display: none;
	}
	.lead-video-desktop {
		margin: 0 0 20px 0;
		width: 300px;
		position: sticky;
		top: calc(105px + 20px);  /* skybox height plus 20px */
	}
}







/*
/
/		ARTICLE BODY CONTENT
/
*/


.article-body p {
	margin: 0 0 1em 0;
	font-family: "PublicoText-Roman", serif;
	font-size: 18px;
	line-height: 25px;
	color: rgb(var(--color-offblack));
}

.article-body em {
	font-family: "PublicoText-Italic", serif;
}

@media only screen and (min-width: 768px) {
	.article-body p {
		font-size: 21px;
		line-height: 31px;
	}
}







/*
/
/		RIGHT RAIL
/
*/



.adadad {
	/* nonsensense name to fool adblocker */
	width: 300px;
	height: 600px;
}
.recirc {
	margin: 40px 0 0 0;
	width: 300px;
	height: 430px;
}
.newsletter {
	margin: 40px 0 0 0;
	width: 300px;
	height: 200px;
}






