<!doctype html>
<html lang="en">

<head>
	
	<meta charset="utf-8">
	<title>Grid Hero Video List</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" type="text/css" href="/web/css/reset.css">
	<link rel="stylesheet/less" type="text/css" href="/web/css/fonts.less">
	<link rel="stylesheet/less" type="text/css" href="/web/components/css/grid-hero-list-shared.less">
	<link rel="stylesheet/less" type="text/css" href="/web/components/css/grid-hero-list-video.less">
	
	<script src="/web/js/less.js" type="text/javascript"></script>
	
</head>

<body>
	
	
	
	
	
	<section class="grid-hero grid-hero-list-video">
		
		
		
		<div class="hgroup">
			<h1>Grid Hero List Video</h1>
		</div>
		
		
		
		<ul class="grid">
			
			
			
			<!-- VIDEO -->
			<li class="item-video">
				<div class="player">
					<video autoplay muted loop playsinline">
						<source src="/web/video/ukraine.mp4" type="video/mp4">
					</video>
					<div class="card">
						<div class="flag flag-live">live</div>
						<svg><use xlink:href="/web/img/sprite.svg#logo-cbsnews247"></use></svg>
					</div>
				</div>
			</li>
			
			
			
			<li class="item1">
				<div class="card">
					<a href="" class="cardHoverWrap">
						<div class="thumbWrap"><div class="button-thumb button-thumb-video"><svg><use xlink:href="/web/img/sprite.svg#icon-video-large"></use></svg></div></div>
						<div class="headWrap">
							<div class="flag">Exclusive</div><!--<div class="flag">flag</div>-->
							<h1>Jpgy one lorem ipsum dolor sit amet consectetur adipiscing elit seddos</h1>
							<p>Totam at eius excepturi deleniti sed, error repellat itaque omnis maiores tempora ratione dolor velit minus porro aspernatur repudiandaes labore quas.</p>
							<div class="metadata">1h ago <svg class="video"><use xlink:href="/web/img/sprite.svg#icon-video-small"></use></svg> 4:59</div>
						</div>
					</a>
					<div class="relatedLinks">
						<h2>Related Links</h2>
						<ul>
							<li><a href="">Totam at eius excepturi deleniti sed error repellat itaque omnise</a></li>
							<li><a href="">Possimus deserunt nisi perferendis consequuntur odio et asperiamp</a></li>
						</ul>
					</div>
				</div>
			</li>
			
			
			
			<li class="item2">
				<div class="card">
					<a href="" class="cardHoverWrap">
						<div class="thumbWrap"><div class="button-thumb"><svg><use xlink:href="/web/img/sprite.svg#icon-gallery"></use></svg></div></div>
						<div class="headWrap">
							<!--<div class="flag">flag</div><div class="flag">flag</div>-->
							<h1>Jpgy two totam at eius excepturi deleniti sed error repellat jpgy</h1>
							<div class="metadata">55m ago <svg class="gallery"><use xlink:href="/web/img/sprite.svg#icon-gallery"></use></svg> 18 photos</div>
						</div>
					</a>
				</div>
			</li>
			
			
			
			<li class="item3">
				<div class="card">
					<a href="" class="cardHoverWrap">
						<div class="thumbWrap"><div class="button-thumb button-thumb-video"><svg><use xlink:href="/web/img/sprite.svg#icon-video-large"></use></svg></div></div>
						<div class="headWrap">
							<!--<div class="flag">flag</div><div class="flag">flag</div>-->
							<h1>Jpgy three possimus deserunt nisi perferendis consequnt odio jpgy deserunt nisi perferendis consequuntur</h1>
							<div class="metadata">1h ago <svg class="video"><use xlink:href="/web/img/sprite.svg#icon-video-small"></use></svg> 9:48</div>
						</div>
					</a>
				</div>
			</li>
			
			
			
			<!-- LIST -->
			<div class="item-list">
				
				<ul>
					
					<li class="list1">
						<div class="card">
							<a href="" class="cardHoverWrap">
								<div class="headWrap">
								<!--<div class="flag">flag</div><div class="flag">flag</div>-->
								<h1>Jpgy four vel nam odio dolorem voluptas sequi minus quo temp jpgy</h1>
								<div class="metadata">2h ago <svg class="gallery"><use xlink:href="/web/img/sprite.svg#icon-gallery"></use></svg> 8 photos</div>
								</div>
							</a>
						</div>
					</li>
					
					<li class="list2">
						<div class="card">
							<a href="" class="cardHoverWrap">
								<div class="headWrap">
								<div class="flag">Shopping</div>
								<h1>Jpgy five excepteur sint occaecat cupidatat non proident sut jpgy occaecat cupidatat non proident</h1>
								<div class="metadata">Updated 2h ago<!-- <svg class="video"><use xlink:href="/web/img/sprite.svg#icon-video-small"></use></svg> 5:02--></div>
								</div>
							</a>
						</div>
					</li>
					
					<li class="list3">
						<div class="card">
							<a href="" class="cardHoverWrap">
								<div class="headWrap">
								<!--<div class="flag">flag</div><div class="flag">flag</div>-->
								<h1>Jpgy six pri illum mundi hendrerit ute aliquando adversarium jpgy</h1>
								<div class="metadata">2h ago <svg class="gallery"><use xlink:href="/web/img/sprite.svg#icon-gallery"></use></svg> 8 photos</div>
								</div>
							</a>
						</div>
					</li>
					
					<li class="list4">
						<div class="card">
							<a href="" class="cardHoverWrap">
								<div class="headWrap">
								<!--<div class="flag">flag</div><div class="flag">flag</div>-->
								<h1>Jpgy seven pro at probo mandamus mel nobis perecut pellantur jpgy magni qui optio illum dolore similique</h1>
								<div class="metadata">2h ago <svg class="video"><use xlink:href="/web/img/sprite.svg#icon-video-small"></use></svg> 8:23</div>
								</div>
							</a>
						</div>
					</li>
					
					<li class="list5">
						<div class="card">
							<a href="" class="cardHoverWrap">
								<div class="headWrap">
								<!--<div class="flag">flag</div><div class="flag">flag</div>-->
								<h1>Jpgy eight altera bonorum vix ad  vix ferri error fastidious jpgy</h1>
								<div class="metadata">2h ago <svg class="gallery"><use xlink:href="/web/img/sprite.svg#icon-gallery"></use></svg> 8 photos</div>
								</div>
							</a>
						</div>
					</li>
					
					<li class="list6">
						<div class="card">
							<a href="" class="cardHoverWrap">
								<div class="headWrap">
								<!--<div class="flag">flag</div><div class="flag">flag</div>-->
								<h1>Jpgy nine elitr aeterno perfecto ea eam tempor inermis inset jpgy voluptas sequi minus quo tempore animi</h1>
								<div class="metadata">2h ago <svg class="video"><use xlink:href="/web/img/sprite.svg#icon-video-small"></use></svg> 3:47</div>
								</div>
							</a>
						</div>
					</li>
					
				</ul>
				
			</div>
			
			
			
			<!-- ad -->
			<li class="item-ad">
				<div class="empyou">
					<div>ad unit (usually 300x250)</div>
					<p>Advertisement</p>
				</div>
			</li>
			
			
			
		</ul>
		
	</section>



</body>

</html>
