<!doctype html>
<html lang="en">

<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>List Stack</title>
	
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet/less" type="text/css" href="../css/fonts.less">
	<link rel="stylesheet/less" type="text/css" href="css/list-stack-2025.less">
	
</head>

<body>
	
	
	
	<section class="list-stack">
		
		
		
		<section>
			<a href="" class="component-heading">U.S. <span>More &#8250;</span></a>
			<ul>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<div class="thumbnail"></div>
							<h1>Foreclosures are surging as U.S. homeowners grapple with rising costs</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Galaxy's largest star formation captured in never-before-seen detail</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Starbucks CEO says company plans to close underperforming stores</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Over 5,000 words added to Merriam-Webster dictionary in rare update</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Sean "Diddy" Combs returning to court ahead of sentencing</h1>
						</a>
					</div>
				</li>
			</ul>
		</section>
		
		
		
		<section>
			<a href="" class="component-heading">MoneyWatch <span>More &#8250;</span></a>
			<ul>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<div class="thumbnail"></div>
							<h1>GDP expanded at a surprising 3.8% pace in second-quarter revision</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Starbucks CEO says company plans to close underperforming stores</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Seasonal hiring could fall to lowest level since 2009, analysis finds</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Lawyers for man who died after riding roller coaster discuss cause of death</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Trump expected to sign deal to keep TikTok operating in the U.S.</h1>
						</a>
					</div>
				</li>
			</ul>
		</section>
		
		
		
		<section>
			<a href="" class="component-heading">Politics <span>More &#8250;</span></a>
			<ul>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<div class="thumbnail"></div>
							<h1>Social Security chief Frank Bisignano also named CEO of the IRS</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>New renderings show more details of White House ballroom under construction</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>White House tells agencies to prepare for layoffs if government shuts down</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Federal prosecutors near decision on whether to charge James Comey, sources say</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>ICE head says deadly Dallas facility shooting was an "indiscriminate" attack </h1>
						</a>
					</div>
				</li>
			</ul>
		</section>
		
		
		
		<section>
			<a href="" class="component-heading">HealthWatch <span>More &#8250;</span></a>
			<ul>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<div class="thumbnail"></div>
							<h1>Lice concerns rise with kids at school. What to know about prevention, treatment.</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Organic fruit and veggie pouches recalled over potential lead</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Should kids get flu and COVID shots this fall? Here's what to know amid changes.</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Trump says skipping Tylenol while pregnant has "no downside." Doctors disagree.</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Author of bestseller on opioids in Appalachia helps women fight addiction</h1>
						</a>
					</div>
				</li>
			</ul>
		</section>
		
		
		
		<section>
			<a href="" class="component-heading">World <span>More &#8250;</span></a>
			<ul>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<div class="thumbnail"></div>
							<h1>Nearly 10 tons of cocaine seized from fishing boat in Atlantic Ocean</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Denmark calls drones spotted near airports a "hybrid attack"</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>French ex-President Nicolas Sarkozy convicted of criminal conspiracy</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Court convicts man of killing woman's puppy, citing gender violence law</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>U.S. fighter jets scrambled to intercept Russian warplanes near Alaska</h1>
						</a>
					</div>
				</li>
			</ul>
		</section>
		
		
		
		<section>
			<a href="" class="component-heading">Entertainment <span>More &#8250;</span></a>
			<ul>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<div class="thumbnail"></div>
							<h1>Billy Crudup on "The Morning Show"</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Richard Grenell previews Kennedy Center Honors</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Kevin Fredericks talks new book</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Apple TV+ halts "The Savant" release</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Jimmy Kimmel's ratings jumped to highest in years with his return to ABC</h1>
						</a>
					</div>
				</li>
			</ul>
		</section>
		
		
		
		<section>
			<a href="" class="component-heading">Technology <span>More &#8250;</span></a>
			<ul>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<div class="thumbnail"></div>
							<h1>Company using AI to address climate crisis</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>MLB approves robot umpires as part of challenge system in 2026</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>How AI powered robots are helping small farms</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>WIRED looks at future risks of tech influence</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Secret Service disrupts telecom network that threatened NYC during U.N. gathering</h1>
						</a>
					</div>
				</li>
			</ul>
		</section>
		
		
		
		<section>
			<a href="" class="component-heading">Science <span>More &#8250;</span></a>
			<ul>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<div class="thumbnail"></div>
							<h1>Why humans love talking to pets</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Newly discovered dinosaur had a crocodile leg in its jaws</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Flesh-eating bacteria kills 5th person this year in Louisiana</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Prehistoric insects trapped in amber give glimpse into ancient life</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Wild chimps consume the equivalent of 2 cocktails a day, research finds</h1>
						</a>
					</div>
				</li>
			</ul>
		</section>
		
		
		
		<section>
			<a href="" class="component-heading">Crime <span>More &#8250;</span></a>
			<ul>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<div class="thumbnail"></div>
							<h1>Nearly 10 tons of cocaine seized from fishing boat in Atlantic Ocean</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>French ex-President Nicolas Sarkozy convicted of criminal conspiracy</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>FBI probes "targeted" attack at ICE facility</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Court convicts man of killing woman's puppy, citing gender violence law</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" clas﻿s="cardHo﻿verWrap">
							<h1>Travis Decker, accused of killing 3 daughters, declared dead by U.S. Marshals</h1>
						</a>
					</div>
				</li>
			</ul>
		</section>
		
		
		<section>
			<a href="" class="component-heading">Space <span>More &#8250;</span></a>
			<ul>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<div class="thumbnail"></div>
							<h1>Galaxy's largest star formation captured in never-before-seen detail</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Space weather satellites blast off to collect information on solar storms</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>NASA introduces newest astronaut recruits</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>NASA introduces 10 new astronaut candidates</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Northrop Grumman cargo ship reaches space station after software fix</h1>
						</a>
					</div>
				</li>
			</ul>
		</section>
		
		
		
		<section>
			<a href="" class="component-heading">Latest Galleries <span>More &#8250;</span></a>
			<ul>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<div class="thumbnail"></div>
							<h1>Robert Redford 1936-2025</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Notable Deaths in 2025</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Timeline: The disappearance of George Smith</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Summer music heats up 2025</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Who is Alix Tichelman?</h1>
						</a>
					</div>
				</li>
			</ul>
		</section>
		
		
		
		<section>
			<a href="" class="component-heading">Latest Videos <span>More &#8250;</span></a>
			<ul>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<div class="thumbnail"></div>
							<h1>Billy Crudup on "The Morning Show"</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Richard Grenell previews Kennedy Center Honors</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Where to get the latest CBS Mornings Deals</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Potential layoffs amid shutdown threat</h1>
						</a>
					</div>
				</li>
				<li>
					<div class="card">
						<a href="" class="cardHoverWrap">
							<h1>Family of D.C. midair collision victim sues</h1>
						</a>
					</div>
				</li>
			</ul>
		</section>
		
		
		
		
		
		
		
	</section>




	
<script src="../js/less.js" type="text/javascript"></script>





</body>

</html>
