<!doctype html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<title>Smart App Banner</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/web/css/reset.css">
	<link rel="stylesheet/less" type="text/css" href="/web/components/css/smart-app-banner.less">

	<script src="/web/js/less.js" type="text/javascript"></script>

</head>

<body>





	<div id="smart-app-banner">
		<div>
			<img src="/web/img/smart-app-banner-icon-light.png" width="29" height="29" alt="CBS News: Live Breaking News">
			<ul>
				<li>CBS News: Live Breaking News</li>
				<li>Open in the CBS News app</li>
			</ul>
		</div>
		<img src="/web/img/app-promo-right.png" width="65" height="27" alt="Open">
	</div>





</body>

</html>
