<!doctype html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<title>Truncation</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/web/css/reset.css">
	<link rel="stylesheet/less" type="text/css" href="/web/css/fonts.less">
	<link rel="stylesheet/less" type="text/css" href="/web/components/css/truncation.less">

	<script src="../js/less.js" type="text/javascript"></script>
	<script src="../js/clamp.js" type="text/javascript"></script>

</head>

<body>






	<section>



		<div class="hgroup">
			<h1>Truncation Test</h1>
		</div>



		<div class="grid">

			<div>
				<h1>No truncation:</h1>
				<h2>Jorem jpsum jolor jit jmet jonsectetur jdipiycijg jypg jed joyipg</h2>
				<p>The Navy says it is mobilizing barges outfitted with heavy lift cranes to help clear the channel of debris. Three cranes with varying lift capacities are expected, along with support vessels to remove submerged portions of the bridge, but it's unclear when they will arrive.</p>
				<small>metadata</small>
				<p class="verdict">Verdict: 🟡 no font issues, but truncation is necessary, due to nonstandard headline and dek lengths.</p>
			</div>

			<div>
				<h1>Line-clamp:</h1>
				<h2 class="webkit-line-clamp3">Jorem jpsum jolor jit jmet jonsectetur jdipiycijg jypg jed joyipg</h2>
				<p class="webkit-line-clamp4">The Navy says it is mobilizing barges outfitted with heavy lift cranes to help clear the channel of debris. Three cranes with varying lift capacities are expected, along with support vessels to remove submerged portions of the bridge, but it's unclear when they will arrive.</p>
				<small>metadata</small>
				<p class="verdict">Verdict: 🔴 Requires <code>overflow: hidden</code>, which causes issues with this particular font. Adjusting <code>padding</code> and <code>spacing</code> is not an option, as it would disrupt alignment.</p>
			</div>
			
			<div>
				<h1>Proxima Nova:</h1>
				<h2 class="webkit-line-clamp3 prox">Jorem jpsum jolor jit jmet jonsectetur jdipiycijg jypg jed joyipg</h2>
				<p class="webkit-line-clamp4">The Navy says it is mobilizing barges outfitted with heavy lift cranes to help clear the channel of debris. Three cranes with varying lift capacities are expected, along with support vessels to remove submerged portions of the bridge, but it's unclear when they will arrive.</p>
				<small>metadata</small>
				<p class="verdict">Verdict: 🟡 Same issues occur with Proxima Nova, but slightly less pronounced.</p>
			</div>

			<div>
				<h1>Clamp.js:</h1>
				<h2 id="clamp-js-3">Jorem jpsum jolor jit jmet jonsectetur jdipiycijg jypg jed joyipg</h2>
				<p id="clamp-js-4">The Navy says it is mobilizing barges outfitted with heavy lift cranes to help clear the channel of debris. Three cranes with varying lift capacities are expected, along with support vessels to remove submerged portions of the bridge, but it's unclear when they will arrive.</p>
				<small>metadata</small>
				<p class="verdict">Verdict: 🔴 Very old script; produces same result as CSS solution.</p>
			</div>

		</div>

	</section>





	<script>
		var module3 = document.getElementById("clamp-js-3");
		var module4 = document.getElementById("clamp-js-4");
		/* unclear what happens if set to false? */
		$clamp(module3, {clamp: 3, useNativeClamp: true});
		$clamp(module4, {clamp: 4, useNativeClamp: true});
	</script>





</body>

</html>
