<!doctype html>
<html lang="en">

<head>
	
	<meta charset="utf-8">
	<title>Video Single</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta name="theme-color" media="(prefers-color-scheme: light)" content="#FFFFFF">
	<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#FFFFFF"> <!-- same for now, but maybe later support system themes? -->
	
	<link rel="icon" type="image/svg+xml" href="/web/img/favicon.svg?">
	<link rel="icon" type="image/png" href="/web/img/favicon.png?">
	
	<link rel="stylesheet" type="text/css" href="/web/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/web/css/fonts.css">
	<link rel="stylesheet/less" type="text/css" href="/web/components/css/video-single.less">
	
	<script type="text/javascript" src="/web/js/less.js"></script>
	
</head>

<body>





<!-- SVGS -->

<svg style="display:none;">
	<symbol id="icon-video-large" viewBox="0 0 24 24">
		<path fill-rule="evenodd" d="M2.018 2.314v19.372a2.314 2.314 0 0 0 3.55 1.956l15.335-9.685a2.314 2.314 0 0 0 0-3.913L5.567.358a2.314 2.314 0 0 0-3.55 1.956Z"/>
	</symbol>
</svg>




	
<section class="shelfVideo">
	
	<div class="heading">
		<h1>Video Single</h1>
	</div>
	
	<div class="grid">
		
		<div class="player">
			<div class="button"><svg><use xlink:href="#icon-video-large"></use></svg></div>
		</div>
		
		<div class="card">
			<h1>Lorem ipsum dolor sit amet consectetur adipiscing elit sed doeius</h1>
			<p class="dek">Totam at eius excepturi deleniti sed, error repellat itaque omnis maiores tempora ratione dolor velit minus porro aspernatur repudiandaes labore quas.</p>
			<p class="metadata">metadata</p>
		</div>
		
	</div>
	
</section>





</body>

</html>
