<!doctype html>
<html lang="en">

<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Video Single</title>
	
	<link rel="stylesheet" type="text/css" href="/web/css/reset.css">
	<link rel="stylesheet/less" type="text/css" href="/web/css/fonts.less">
	<link rel="stylesheet/less" type="text/css" href="/web/components/css/video-single-redux.less">
	
	<meta name="theme-color" content="#FFFFFF">
	<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#FFFFFF">
	
</head>

<body>





<!-- SVGS -->

<svg style="display:none;">
	<symbol id="icon-video-large" viewBox="0 0 24 24">
		<path fill-rule="evenodd" d="M22.618 10.578c1.25.786 1.25 2.06 0 2.845L6.265 23.696C5.014 24.482 4 23.69 4 21.941V2.06C4 .305 5.014-.48 6.265.305l16.353 10.273Z"/>
	</symbol>
</svg>




	
<section class="shelfVideo">
	
	<div class="heading">
		<h1>Video Single</h1>
	</div>
	
	<a href="" class="grid">
		
		<div class="player">
			<div class="button"><svg><use xlink:href="#icon-video-large"></use></svg></div>
		</div>
		
		<article>
			<h1>Lorem ipsum dolor sit amet consectetur adipiscing elit sed doeius</h1>
			<p class="dek">Totam at eius excepturi deleniti sed, error repellat itaque omnis maiores tempora ratione dolor velit minus porro aspernatur repudiandaes labore quas.</p>
			<p class="metadata">metadata</p>
		</article>
		
	</a>
	
</section>





<script type="text/javascript" src="/web/js/less.js"></script>




</body>

</html>
