@import "../../css/colors.less";
@import "../../css/typography.less";
@import "../../css/utility.less";





/*
/
/	TOGGLE CLASSES
/
*/

nav li,
nav a {
	/* toggle on for editing */
	/*
	.wireframe-outline;
	*/
}
.nav-shadow-on {
	box-shadow: 0 1px 5px 0 rgba(@color-neutral-black,.25);
}
.nav-shadow-off {
	box-shadow: 0 1px 5px 0 rgba(@color-neutral-black,0);
}





/*
/
/	<768
/
*/

nav {
}
#mainnav {
	margin: 0;
	padding: 0 @spacing-12;
	background-image: linear-gradient(rgba(@color-neutral-white,1), rgba(@color-neutral-white,.85));
	-webkit-backdrop-filter: saturate(200%) blur(20px);
	backdrop-filter: saturate(200%) blur(20px);
	background-color: rgba(@color-neutral-white,0);
	.hr-light;
}
#subnav {
	margin: 0;
	padding: 0 0 0 @spacing-12;
	overflow-x: scroll;
	-ms-overflow-style: none;  /* hide scrollbar: IE, Edge */
	scrollbar-width: none;  /* hide scrollbar: Firefox */
	.hr-light;
}
#subnav::-webkit-scrollbar {
	/* hide scrollbar: Safari, Chrome, Opera */
	display: none;
	width: 0;
	height: 0;
	background: transparent;
}
.logo {
	padding: 0 16px;
	width: 142.86px;
	width: 143px;
	height: 20px;
	fill: rgb(@color-neutral-100);
}
.more-grid,
.more-dots,
.icon-account,
.icon-search {
	width: 16px;
	height: 16px;
	fill: rgb(@color-neutral-100);
}
#mainnav .main-outer {
	width: 100%;
	/* easier to use grid in this case, as opposed to flexbox, because the middle item must be centered */
	display: grid;
	align-items: center;
	grid: auto-flow / 1fr auto 1fr;
}
#mainnav .main-left {
	display: flex;
	justify-content: start;
}
#mainnav .main-left li {
}
#mainnav .main-left li:not(:first-child) {
	/* display first only */
    display: none;
}
#mainnav .main-right {
	/* align right
	margin: 0 0 0 auto;
	*/
	margin-left: auto;
}
#mainnav .main-right ul {
	display: flex;
	flex-direction: row;
	/*
	justify-content: flex-end;
	*/
}
#mainnav .main-right ul li {
	/*
	flex-basis: max-content;
	*/
}
#mainnav a.hover-effect,
#subnav a.hover-effect {
	padding: 0 @spacing-4;
}
#mainnav a.hover-effect div,
#subnav a.hover-effect div {
	padding: @spacing-8;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: @spacing-4;
	border-radius: @spacing-4;
	background-color: rgba(@color-neutral-10,0);
	/* background-color: salmon; */
	transition: all 0.15s linear;
}
#mainnav a.hover-effect:hover > div,
#subnav a.hover-effect:hover > div  {
	background-color: rgba(@color-neutral-10,1);
}
#subnav ul {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
#subnav li {
	flex-shrink: 0;
}
#mainnav a,
#subnav a {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	font-family: "ProximaNova-Bold", sans-serif;
	line-height: 1;
	color: rgb(@color-neutral-100);
	text-decoration: none;
}
#mainnav a {
	height: 48px;
	font-size: 14px;
}
#subnav a {
	/* display: block; ensure vertical spacing? */
	padding: 0 12px;
	height: 40px;
	font-size: 12px;
}
#subnav .separator {
	padding: 0 6px;
	font-size: 14px;
	color: rgb(@color-neutral-100);
}
#subnav .branded {
	text-transform: uppercase;
}
#mainnav a:hover,
#subnav a:hover {
	text-decoration: none !important; /* something conflicting? */
}
.livedot {
	display: inline-block;
	/* margin: 0 4px 2px 0; */
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: rgb(@color-live);
}
.username {
	display: none;
}







/*
/
/	≥768
/
*/

@media only screen and (min-width: @break-sm) {
}









/*
/
/	≥1020
/
*/

@media only screen and (min-width: @break-md) {
	#mainnav,
	#subnav {
		padding: 0;
	}
	#mainnav .main-outer,
	#subnav ul {
		margin: 0 auto;
		width: calc(@break-md-container + @spacing-24);
	}
	#mainnav .main-outer {
	}
	#mainnav .main-left li {
	}
	#mainnav .main-left li:first-child {
		/* hide grid icon */
		display: none;
	}
	#mainnav .main-left li:not(:first-child) {
		/* display others */
		display: initial;
	}
	#mainnav .main-left a,
	#mainnav .main-right a {
		height: 64px;
		padding: 0 @spacing-8;
		font-size: 14px;
	}
	#mainnav a {
		height: 64px;
	}
	.logo {
		width: 171.43px;
		height: 24px;
	}
	#mainnav .main-right li {
		/*
		flex-basis: 0;
		*/
	}
	.username {
		/*
		text-align: right;
		display: initial;
		flex-basis: 0;
		width: max-content;
		border: 1px solid salmon;
		*/
		
		display: flex;
		flex-basis: fit-content;
	}
}







/*
/
/	≥1360
/
*/

@media only screen and (min-width: @break-lg) {
	#mainnav .main-outer,
	#subnav ul {
		width: calc(@break-lg-container + @spacing-24);
	}
}







/*
/
/	DARK
/
*/

/*
@media (prefers-color-scheme: dark) {
	#mainnav {
		background-image: linear-gradient(rgba(@color-neutral-100,1), rgba(@color-neutral-100,.85));
		-webkit-backdrop-filter: saturate(200%) blur(20px);
		backdrop-filter: saturate(200%) blur(20px);
		background-color: rgba(@color-neutral-100,0);
		.hr-dark;
	}
	#subnav {
		background-color: rgb(@color-neutral-100);
		.hr-dark;
	}
	#mainnav a,
	#subnav a {
		color: rgb(@color-neutral-0);
	}
	#mainnav svg {
		fill: rgb(@color-neutral-0);
	}
	#mainnav a.hover-effect:hover > div,
	#subnav a.hover-effect:hover > div  {
		background-color: rgba(@color-neutral-0,.2);
	}
	#subnav .separator {
		color: rgb(@color-neutral-0);
	}
}
*/






















