@import "../../css/colors.less";
@import "../../css/utility.less";



/*
/
/	BASIC STYLES
/
*/

body {
	background-color: white;
}





/*
/
/	NAV
/
*/

#include-nav {
}
#include-nav nav {
	background-color: rgba(255, 255, 255, .85);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}



.header--fixed {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	box-shadow: none;

	&.top {
		transition: none;
		transform: translateY(0);
		box-shadow: none;
	}

	&.not-top {
		position: fixed;
		transform: translateY(-100%);
		box-shadow: none;
	}

	&.slideDown.not-top {
		transition: transform 0.3s linear;
		transform: translateY(0);
		box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
	}

	&.slideDown.top {
		position: fixed;
		box-shadow: none;
	}

	&.slideUp.not-top {
		transition: transform 0.3s linear;
		transform: translateY(-100%);
		box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
	}

	&.slideUp.top {
		transform: translateY(-100%);
		position: absolute;
		box-shadow: none;
	}

}





/*
/
/	GRID VIEW
/
*/



#include-grid-hero-list-video {
	margin: 110px 0 0 0;
}
#include-grid-hero-list-video .hgroup {
	display: none;
}

@media only screen and (min-width: @break-md) {
	#include-grid-hero-list-video {
		margin: 144px 0 0 0;
	}
}





