@import "../../css/colors.less";
@import "../../css/utility.less";



/*
/
/	BASIC STYLES
/
*/

body {
	background-color: white;
}





/*
/
/	NAV
/
*/

#test-wrap {
	width: 100%;
	position: fixed;
	background: red;
}
#test {
	width: 100%;
	position: absolute;
	background: blue;
}
#include-nav {
}
#include-nav nav {
	background-color: rgba(255, 255, 255, .85);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}







/*
/
/	GRID VIEW
/
*/

#include-grid-hero-list-video {
	margin: 20px 0 0 0;
}
#include-grid-hero-list-video .hgroup {
	display: none;
}

@media only screen and (min-width: @break-md) {
	#include-grid-hero-list-video {
		margin: 40px 0 0 0;
	}
}





