/* CORE */

@color-black:				0,0,0;				/* #000000 */
@color-offblack:			16,16,16;			/* #101010 */
@color-graydark:			127,127,127;		/* #7F7F7F */
@color-graylight:			232,232,232;		/* #E8E8E8 */
@color-offwhite:			242,242,242;		/* #F2F2F2 */
@color-white:				255,255,255;		/* #FFFFFF */
@color-live:				182,5,5;			/* #B60505 */



/* BRAND */

@color-48-hours:				36,44,59;
@color-48-hours-red-light:		152,42,6;
@color-48-hours-red-dark:		69,32,25;
@color-60-minutes:				166,10,02;
@color-cbs-reports:				23,102,185;
@color-cbs-this-morning:		23,102,185;
@color-cbsn-am:					48,65,85;
@color-evening-news:			16,49,86;
@color-eye-on-america:			6,116,200;
@color-face-the-nation-red:		157,3,3;
@color-face-the-nation-blue:	0,120,157;
@color-minnesota:				0,97,160;
@color-sunday-morning:			222,150,21;
@color-uplift:					27,110,184;



/* SPECS */

@color-placeholder:				118,188,237;		/* darker blue (alt shade: 50,197,255; #32C5FF) */
@color-placeholder-fill:		221,238,250;		/* lighter blue */
