/* TT NORMS PRO */

@font-face {
	font-family: 'TTNormsPro-Regular';
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
	src: url('../fonts/TTNormsProRegular_normal_normal.woff2') format('woff2'),
		 url('../fonts/TTNormsProRegular_normal_normal.woff') format('woff');
}
@font-face {
	font-family: 'TTNormsPro-Normal';
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
	src: url('../fonts/TTNormsProNormal_normal_normal.woff2') format('woff2'),
		 url('../fonts/TTNormsProNormal_normal_normal.woff') format('woff');
}
@font-face {
	font-family: 'TTNormsPro-Normal-Italic';
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
	src: url('../fonts/TTNormsProNormItalic_italic_normal.woff2') format('woff2'),
		 url('../fonts/TTNormsProNormItalic_italic_normal.woff') format('woff');
}
@font-face {
	font-family: 'TTNormsPro-Medium';
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
	src: url('../fonts/TTNormsProMedium_normal_normal.woff2') format('woff2'),
		 url('../fonts/TTNormsProMedium_normal_normal.woff') format('woff');
}
@font-face {
	font-family: 'TTNormsPro-Bold';
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
	src: url('../fonts/TTNormsProBold_normal_normal.woff2') format('woff2'),
		 url('../fonts/TTNormsProBold_normal_normal.woff') format('woff');
}



/* TT NORMS SERIF */
/* reminder: these 400 files ARE the Normal weight, not Regular */

@font-face {
	font-family: 'TTNormsProSerif-Normal';
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
	src: url('../fonts/TTNormsProSerif_TTNormsProSerif_normal_normal_400.woff2') format('woff2'),
		 url('../fonts/TTNormsProSerif_TTNormsProSerif_normal_normal_400.woff') format('woff');
}
@font-face {
	font-family: 'TTNormsProSerif-Bold';
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
	src: url('../fonts/TTNormsProSerif_TTNormsProSerif_normal_normal_700.woff2') format('woff2'),
		 url('../fonts/TTNormsProSerif_TTNormsProSerif_normal_normal_700.woff') format('woff');
}










/* PROXIMA NOVA */

@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('../fonts/ProximaNova-Regular-webfont.woff2') format('woff2'),
		 url('../fonts/ProximaNova-Regular-webfont.woff') format('woff');
}
@font-face {
	font-family: 'ProximaNova-Bold';
	src: url('../fonts/ProximaNova-Bold-webfont.woff2') format('woff2'),
		 url('../fonts/ProximaNova-Bold-webfont.woff') format('woff');
}



/* PUBLICO HEADLINE */

@font-face {
	font-family: 'PublicoHeadline-Bold';
	src: url('../fonts/PublicoHeadline-Bold-Web.woff2') format('woff2'),
		 url('../fonts/PublicoHeadline-Bold-Web.woff') format('woff');
}
@font-face {
	font-family: 'PublicoHeadline-Black';
	src: url('../fonts/PublicoHeadline-Black-Web.woff2') format('woff2'),
		 url('../fonts/PublicoHeadline-Black-Web.woff') format('woff');
}



/* PUBLICO TEXT */

@font-face {
	font-family: 'PublicoText-Roman';
	src: url('../fonts/PublicoText-Roman-Web.woff2') format('woff2'),
		 url('../fonts/PublicoText-Roman-Web.woff') format('woff');
}
@font-face {
	font-family: 'PublicoText-Italic';
	src: url('../fonts/PublicoText-Italic-Web.woff2') format('woff2'),
		 url('../fonts/PublicoText-Italic-Web.woff') format('woff');
}
@font-face {
	font-family: 'PublicoText-Bold';
	src: url('../fonts/PublicoText-Bold-Web.woff2') format('woff2'),
		 url('../fonts/PublicoText-Bold-Web.woff') format('woff');
}