/* HEADINGS */

.alpha {
	font-family: "PublicoHeadline-Black", serif;
	font-style: normal;
	font-size: 70px;
	line-height: 1.05;
}
.beta {
	font-family: "PublicoHeadline-Black", serif;
	font-style: normal;
	font-size: 56px;
	line-height: 1.05;
}
.gamma {
	font-family: "PublicoHeadline-Black", serif;
	font-style: normal;
	font-size: 45px;
	line-height: 1.05;
}
.delta {
	font-family: "PublicoHeadline-Black", serif;
	font-style: normal;
	font-size: 32px;
	line-height: 1.05;
}
.epsilon {
	font-family: "PublicoHeadline-Bold", serif;
	font-style: normal;
	font-size: 24px;
	line-height: 1.05;
}
.zeta {
	font-family: "PublicoHeadline-Bold", serif;
	font-style: normal;
	font-size: 17px;
	line-height: 1.05;
}
.eta {
}





/* OTHER */

.related {
	font-family: "ProximaNova-Regular", sans-serif;
	font-style: normal;
	font-size: 15px;
}
.dek {
	font-family: "ProximaNova-Regular", sans-serif;
	font-style: normal;
	font-size: 18px;
	line-height: 22px;
}





/* METADATA */

.metadata-default {
	font-family: "ProximaNova-Regular", sans-serif;
	font-style: normal;
	font-size: 11px;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 1.7px;
}
.metadata-large {
}