/* SPACING */

@spacing-4:      4px;
@spacing-8:      8px;
@spacing-12:    12px;
@spacing-16:    16px;
@spacing-20:    20px;
@spacing-24:    24px;
@spacing-32:    32px;
@spacing-40:	40px;

/* --------- deprecated ----------- */
@gap-xxs:        4px;      /* XXS */
@gap-xs:         8px;      /* XS */
@gap-s:         16px;      /* S */
@gap-m:         20px;      /* M */
@gap-l:         24px;      /* L */
@gap-xl:        32px;      /* XL */
@gap-xxl:       40px;      /* XXL */





/* BREAKPOINTS */

@break-sm:               768px;
@break-md:              1020px;
@break-md-container:     980px;
@break-lg:              1360px;
@break-lg-container:    1320px;





/* BORDER RADIUS */

@border-radius-2:    2px;
@border-radius-4:    4px;
@border-radius-8:    8px;





/* ELEVATION */

.fly-light-elevation-0 {
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.10);
}
.fly-light-elevation-5 {
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
}
.fly-light-elevation-10 {
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
}
.fly-light-elevation-20 {
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
}
.fly-light-elevation-30 {
	box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.10);
}
.fly-light-elevation-40 {
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.10);
}
.fly-light-elevation-50 {
	box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.10);
}







/* BORDERS */
/* (adds 1px height) */

.hr-light {
	border-bottom: 1px solid rgb(@color-neutral-10);
}
.hr-dark {
	border-bottom: 1px solid rgba(@color-neutral-0,.15);
}
.hr-none {
	border-bottom: 1px solid rgba(@color-neutral-0,0);
}
.fly-light-utility-border {
	border-bottom: 1px solid @fly-light-utility-border;
}
.fly-dark-utility-border {
	border-bottom: 1px solid @fly-dark-utility-border;
}
.fly-dynamic-utility-border {
	border-bottom: 1px solid @fly-dynamic-utility-border;
}

/* top */
.hr-light-top {
	border-top: 1px solid rgb(@color-neutral-10);
}
.hr-dark-top {
	border-top: 1px solid rgba(@color-neutral-0,.15);
}
.hr-none-top {
	border-top: 1px solid rgba(@color-neutral-0,0);
}

/* Inset Horizontal Rules */
/* (only works on objects with fixed height) */

.hr-inset-light {
	box-sizing: border-box;
    border-bottom: 1px solid rgb(@color-neutral-10);
}
.hr-inset-dark {
	box-sizing: border-box;
    border-bottom: 1px solid rgba(@color-neutral-0,.15);
}
.hr-inset-none {
	box-sizing: border-box;
    border-bottom: none;
}





/* SPECS */

.annotation {
	display: block;
	font-size: 20px;
	font-family: sans-serif;
	color: rgb(@color-placeholder);
	margin: 0 0 20px 20px;
}
.wireframe {
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(@color-placeholder);
	background-color: rgba(@color-placeholder, .25);
	box-shadow: inset 0 0 0 1px rgb(@color-placeholder);
	font-family: sans-serif;
	font-size: small;
	font-weight: bold;
	text-align: center;
	/* text-transform: uppercase; */
}
.wireframe-outline {
	box-shadow: inset 0 0 0 1px rgba(@color-placeholder,.5);
}
.wireframe-opaque {
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(@color-placeholder);
	background-color: rgb(@color-placeholder-fill);
	box-shadow: inset 0 0 0 1px rgb(@color-placeholder);
	font-family: sans-serif;
	font-size: small;
	font-weight: bold;
	/* text-transform: uppercase; */
}