@import "../../../css/colors.less";
@import "../../../css/typography.less";
@import "../../../css/utility.less";





// // // Basic Styles

body {
	background-color: @fly-light-surface-primary;
}
@media (prefers-color-scheme: dark) {
	body {
		background-color: @fly-dark-surface-primary;
	}
}





// // // Structure

main,
article,
section {
	/* for testing */
	//.wireframe-outline();
}
#stickers {
	/* top ad and sticky nav */
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 99;
}
main {
	margin: @spacing-20;
	.content {
		height: 2000px;
		.wireframe();
	}
}
@media only screen and (min-width:  @break-sm) {
}
@media only screen and (min-width:  @break-md) {
	main {
		padding: 0 @spacing-20;
		margin: @spacing-40 auto;
		width: @break-md-container;
	}
}
@media only screen and (min-width:  @break-lg) {
	main {
		width: @break-lg-container;
	}
}
















// // // Ads

#topunit {
	display: none;
}
@media only screen and (min-width: @break-sm) {
	#topunit {
		display: initial;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: @fly-light-surface-primary;
		div {
			width: 768px;
			height: 90px;
		}
	}
}
@media (prefers-color-scheme: dark) {
	#topunit {
		background-color: @fly-dark-surface-primary;
	}
}







// // // EAAG

.eaag {
	margin: @spacing-12 0;
	display: flex;
	flex-direction: column;
	gap: 0;
}
.rule-horiz {
	margin: @spacing-12 @spacing-20;
	border-bottom: 1px solid @fly-light-utility-border;
}
.rule-vert {
	margin: 0 @spacing-16;
	border-right: 1px solid @fly-light-utility-border;
}
@media (prefers-color-scheme: dark) {
	.rule-horiz {
		border-bottom: 1px solid @fly-dark-utility-border;
	}
	.rule-vert {
		border-right: 1px solid @fly-dark-utility-border;
	}
}

@media only screen and (min-width:  @break-sm) {
}
@media only screen and (min-width:  @break-md) {
	.rule-horiz {
		margin: @spacing-12 auto;
		width: @break-md-container;
	}
}
@media only screen and (min-width:  @break-lg) {
	.rule-horiz {
		width: @break-lg-container;
	}
}







// // // Live Updates

.live-updates {
	display: flex;
	flex-direction: row;
	gap: 0;
	button {
		opacity: 0;
		cursor: pointer;
		transition: all .3s ease-out;
		background-color: transparent;
		div {
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 20px;
			padding: @spacing-12 0;
			.border-radius-4();
			background-color: @fly-light-button-secondary-background;
		}
		svg {
			width: 12px;
			height: 12px;
			fill: @fly-light-button-secondary-text;
		}
		&:first-of-type {
			svg {
				rotate: 180deg;
				opacity: 0.5;
			}
		}
		&:hover {
			svg {
				fill: @fly-light-button-secondary-text-hover;
			}
			div {
				background-color: @fly-light-button-secondary-background-hover;
			}
		}
	}
	.branding {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 @spacing-12 0 0;
		svg {
			width: 60px;
			height: 48px;
		}
	}
	.carousel {
		overflow-x: scroll;
		-ms-overflow-style: none;  /* hide scrollbar: IE, Edge */
		scrollbar-width: none;  /* hide scrollbar: Firefox */
		&::-webkit-scrollbar {
			/* hide scrollbar: Safari, Chrome, Opera */
			display: none;
			width: 0;
			height: 0;
			background: transparent;
		}
		.cell-container {
			position: relative;
			left: -216px;
			display: flex;
			flex-direction: row;
			gap: 0;
			animation-name: slideIn;
			animation-duration: 1s;
			animation-timing-function: ease-in-out;
			animation-delay: 2s;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
		}
		article {
			display: flex;
			flex-direction: column;
			gap: @spacing-4;
			min-width: 200px;
			padding: @spacing-8;
			cursor: pointer;
			.border-radius-4();
			background-color: @fly-light-surface-primary;
			transition: all .3s ease-in-out;
			.flag {
				.detail-12-strong();
				color: @fly-light-text-alert;
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: @spacing-2;
			}
			h1 {
				.headline-14();
				color: @fly-light-text-link-primary;
				text-decoration: underline solid rgba(@fly-light-text-link-primary-rgb,0);
				-webkit-text-decoration: underline solid rgba(@fly-light-text-link-primary-rgb,0);
				transition: all .3s ease-out;
			}
			&:first-of-type {
				background-color: @fly-light-surface-primary;
				animation: cellPulseLight 1s 3 linear;
				animation-delay: 3s;
			}
			&:hover {
				background-color: @fly-light-surface-tertiary;
				h1 {
					color: @fly-light-text-link-primary-hover;
					text-decoration: underline solid rgba(@fly-light-text-link-primary-hover-rgb,1);
					-webkit-text-decoration: underline solid rgba(@fly-light-text-link-primary-hover-rgb,1);
					transition: all .3s ease-out;
				}
			}
		}
	}
	&:hover {
		button {
			opacity: 1;
		}
	}
}
@media (prefers-color-scheme: dark) {
	.live-updates {
		button {
			div {
				background-color: @fly-dark-button-secondary-background;
			}
			svg {
				fill: @fly-dark-button-secondary-text;
			}
			&:hover {
				svg {
					fill: @fly-dark-button-secondary-text-hover;
				}
				div {
					background-color: @fly-dark-button-secondary-background-hover;
				}
			}
		}
		.branding {
			svg {
				filter: brightness(0) invert(1);
			}
		}
		.carousel {
			article {
				background-color: @fly-dark-surface-primary;
				&:first-of-type {
					background-color: @fly-dark-surface-primary;
					animation: cellPulseDark 1s 3 linear;
					animation-delay: 3s;
				}
				.flag {
					color: @fly-dark-text-alert;
				}
				h1 {
					color: @fly-dark-text-link-primary;
					text-decoration: underline solid rgba(@fly-dark-text-link-primary-rgb,0);
					-webkit-text-decoration: underline solid rgba(@fly-dark-text-link-primary-rgb,0);
					transition: all .3s ease-out;
				}
				&:hover {
					background-color: @fly-dark-surface-tertiary;
					h1 {
						color: @fly-dark-text-link-primary-hover;
						text-decoration: underline solid rgba(@fly-dark-text-link-primary-hover-rgb,1);
						-webkit-text-decoration: underline solid rgba(@fly-dark-text-link-primary-hover-rgb,1);
						transition: all .3s ease-out;
					}
				}
			}
		}
	}
}

@media only screen and (min-width:  @break-sm) {
}
@media only screen and (min-width:  @break-md) {
	.live-updates {
		margin: 0 auto;
		width: @break-md;
	}
}
@media only screen and (min-width:  @break-lg) {
	.live-updates {
		width: @break-lg;
	}
}









// // // Key Races (Results)

.key-races {
	margin: 0;
	padding: 0 @spacing-20;
	display: flex;
	flex-direction: column;
	gap: @spacing-12;
	nav {
		display: flex;
		flex-direction: row;
		gap: 0;
		padding: @spacing-2;
		background-color: @fly-light-surface-primary;
		border: 1px solid @fly-light-utility-border;
		.border-radius-6();
		button {
			flex-grow: 1;
			padding: @spacing-8;
			.action-12();
			color: @fly-light-button-secondary-text;
			background-color: @fly-light-button-secondary-background;
			.border-radius-4();
			cursor: pointer;
		}
		.focus {
			color: @fly-light-button-secondary-text-disabled;
			background-color: @fly-light-button-secondary-border-focused;
			cursor: default;
		}
	}
	.results {
		.bar {
			display: inline;
			width: 40px;
			height: 10px;
			background-color: rgb(@color-el-no-race);
			border-radius: 5px;
			overflow: hidden;
			div {
				width: 0%;
				height: 10px;
				border-right: 1px solid @fly-light-surface-primary;
				background-color: rgb(@color-el-i-likely);
				animation-duration: 1s;
				animation-timing-function: ease-in-out;
				animation-delay: 1s;
				animation-iteration-count: 1;
				animation-fill-mode: forwards;
			}
		}
		.barD { div { background-color: rgb(@color-el-d-won); } }
		.barR { div { background-color: rgb(@color-el-r-won); } }
		.barI { div { background-color: rgb(@color-el-other); } }
		.bar05 { div { animation-name: barIn05; } }
		.bar09 { div { animation-name: barIn09; } }
		.bar11 { div { animation-name: barIn11; } }
		.bar16 { div { animation-name: barIn16; } }
		.bar32 { div { animation-name: barIn32; } }
		.bar59 { div { animation-name: barIn59; } }
		.bar63 { div { animation-name: barIn63; } }
		.bar73 { div { animation-name: barIn73; } }
		article {
			display: flex;
			flex-direction: column;
			gap: @spacing-16;
			.heading {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				gap: @spacing-8;
				.hgroup {
					display: flex;
					flex-direction: column;
					gap: @spacing-4;
					.meta {
						display: flex;
						flex-direction: row;
						gap: @spacing-4;
						vertical-align: middle;
						align-items : center;
					}
					h1 {
						.headline-16-strong();
						color: @fly-light-text-primary;
					}
					p {
						.body-14();
						color: @fly-light-text-secondary;
					}
					em {
						color: @fly-light-text-alert;
					}
				}
				.map {
					min-width: 80px;
					height: 80px;
					.border-radius-4();
					.wireframe();
				}
			}
			table {
				border-collapse: separate;
				border-spacing: 0;
				thead {
					th {
						text-align: center;
						.detail-12();
						color: @fly-light-text-secondary;
						&:first-of-type {
							text-align: left;
						}
					}
				}
				tbody {
					td {
						border-bottom: 1px dashed @fly-light-utility-border; // won't work on TR for some reason?
						padding: @spacing-8 @spacing-4;
						vertical-align: middle;
						&:first-child {
							padding-left: 0;
						}
						&:last-child {
							padding-right: 0;
						}
						div {
							display: flex;
							flex-direction: row;
							gap: @spacing-8;
							align-items: center;
						}
					}
					svg {
						width: 20px;
						min-width: 20px;
						height: 20px;
						.border-radius-2();
						fill: rgb(@color-el-no-race);
					}
					svg.d {
						background-color: rgb(@color-el-d-won);
					}
					svg.r {
						background-color: rgb(@color-el-r-won);
					}
					svg.i {
						background-color: rgb(@color-el-other);
					}
					.candidate {
						width: 99%;
						h2 {
							.detail-14-strong();
							color: @fly-light-text-primary;
						}
						span {
							.detail-12();
							color: @fly-light-text-secondary;
						}
					}
					.votes {
						text-align: right;
						.detail-14();
						color: @fly-light-text-primary;
					}
					.percent {
						div {
							justify-content: right;
							.detail-14-strong();
							color: @fly-light-text-primary;
						}
					}
				}
			}
			.buttons {
				display: flex;
				flex-direction: row;
				gap: @spacing-8;
				button {
					padding: @spacing-8;
					background-color: @fly-light-button-secondary-background;
					color: @fly-light-button-secondary-text;
					border: 1px solid @fly-light-button-secondary-border;
					.border-radius-4();
					cursor: pointer;
					.action-12();
					&:hover {
						color: @fly-light-button-secondary-text-hover;
						background-color: @fly-light-button-secondary-background-hover;
					}
				}
			}
			&:not(:first-child) {
				display: none;
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	.key-races {
		nav {
			background-color: @fly-dark-surface-primary;
			border: 1px solid @fly-dark-utility-border;
			button {
				color: @fly-dark-button-secondary-text;
				background-color: @fly-dark-button-secondary-background;
			}
			.focus {
				// no appropriate Fly button text color?
				color: rgb(@color-neutral-100);
				background-color: @fly-dark-button-secondary-border-focused;
			}
		}
		.results {
			.bar {
				div {
					border-right: 1px solid @fly-dark-surface-primary;
				}
			}
			article {
				.heading {
					.hgroup {
						h1 {
							color: @fly-dark-text-primary;
						}
						p {
							color: @fly-dark-text-secondary;
						}
						em {
							color: @fly-dark-text-alert;
						}
					}
				}
				table {
					thead {
						th {
							color: @fly-dark-text-secondary;
						}
					}
					tbody {
						td {
							border-bottom: 1px dashed @fly-dark-utility-border;
						}
						.candidate {
							h2 {
								color: @fly-dark-text-primary;
							}
							span {
								color: @fly-dark-text-secondary;
							}
						}
						.votes {
							color: @fly-dark-text-primary;
						}
						.percent {
							div {
								color: @fly-dark-text-primary;
							}
						}
					}
				}
				.buttons {
					button {
						background-color: @fly-dark-button-secondary-background;
						color: @fly-dark-button-secondary-text;
						border: 1px solid @fly-dark-button-secondary-border;
						&:hover {
							color: @fly-dark-button-secondary-text-hover;
							background-color: @fly-dark-button-secondary-background-hover;
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width:  @break-sm) {
	.key-races {
		gap: 0;
		nav {
			display: none;
		}
		.results {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-columns: 1fr 32px 1fr 32px 1fr;
			gap: 0;
			article {
				&:not(:first-child) {
					display: flex;
				}
			}
		}
	}
}
@media only screen and (min-width:  @break-md) {
	.key-races {
		margin: 0 auto;
		width: @break-md-container;
	}
}
@media only screen and (min-width:  @break-lg) {
	.key-races {
		width: @break-lg-container;
	}
}
















// // // Typography

// Detail
.detail-12 {
	font-family: "TTNormsPro-Normal", sans-serif;
	font-style: normal;
	font-size: 12px;
	line-height: 125%;
	leading-trim: both;
	text-edge: cap;
	text-box: trim-both cap alphabetic;
}
.detail-12-strong {
	font-family: "TTNormsPro-Bold", sans-serif;
	font-style: normal;
	font-size: 12px;
	line-height: 125%;
	leading-trim: both;
	text-edge: cap;
	text-box: trim-both cap alphabetic;
}
.detail-14 {
	font-family: "TTNormsPro-Normal", sans-serif;
	font-style: normal;
	font-size: 14px;
	line-height: 125%;
	leading-trim: both;
	text-edge: cap;
	text-box: trim-both cap alphabetic;
}
.detail-14-strong {
	font-family: "TTNormsPro-Bold", sans-serif;
	font-style: normal;
	font-size: 14px;
	line-height: 125%;
	leading-trim: both;
	text-edge: cap;
	text-box: trim-both cap alphabetic;
}

// Headline
.headline-14 {
	font-family: "TTNormsPro-Normal", sans-serif;
	font-style: normal;
	font-size: 14px;
	line-height: 125%;
}
.headline-14-strong {
	font-family: "TTNormsPro-Bold", sans-serif;
	font-style: normal;
	font-size: 14px;
	line-height: 125%;
}
.headline-16 {
	font-family: "TTNormsPro-Normal", sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 125%;
}
.headline-16-strong {
	font-family: "TTNormsPro-Bold", sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 125%;
}

// Body
.body-14 {
	font-family: "TTNormsPro-Normal", sans-serif;
	font-style: normal;
	font-size: 14px;
	line-height: 125%;
}

// Action
.action-12 {
	font-family: "TTNormsPro-Normal", sans-serif;
	font-style: normal;
	font-size: 12px;
	leading-trim: both;
	text-edge: cap;
	text-box: trim-both cap alphabetic;
}









// // // Animation

.dot {
	min-width: 4px;
	height: 4px;
	background-color: @fly-light-utility-status-alert;
	border-radius: 50%;
	opacity: 1;
	animation: dotPulse 1s infinite linear;
	animation-delay: 6s;
}

@keyframes barIn05 { 0% {width: 0%;} 100% {width: 05%} }
@keyframes barIn09 { 0% {width: 0%;} 100% {width: 09%} }
@keyframes barIn11 { 0% {width: 0%;} 100% {width: 11%} }
@keyframes barIn16 { 0% {width: 0%;} 100% {width: 16%} }
@keyframes barIn32 { 0% {width: 0%;} 100% {width: 32%} }
@keyframes barIn59 { 0% {width: 0%;} 100% {width: 59%} }
@keyframes barIn63 { 0% {width: 0%;} 100% {width: 63%} }
@keyframes barIn73 { 0% {width: 0%;} 100% {width: 73%} }

@keyframes slideIn {
	0% {
		left: -216px;
	}
	100% {
		left: 0;
	}
}
@keyframes dotPulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: .25;
	}
	100% {
		opacity: 1;
	}
}
@keyframes cellPulseLight {
	0% {
		background-color: @fly-light-surface-primary;
	}
	50% {
		background-color: @fly-light-surface-tertiary;
	}
	100% {
		background-color: @fly-light-surface-primary;
	}
}
@keyframes cellPulseDark {
	0% {
		background-color: @fly-dark-surface-primary;
	}
	50% {
		background-color: @fly-dark-surface-tertiary;
	}
	100% {
		background-color: @fly-dark-surface-primary;
	}
}










