@import "../../css/colors.less";
@import "../../css/utility.less";





// // // Grid Hero List Video Only

.grid-hero-list-video {

	.grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: @spacing-20;
	}
	.item1 {
		grid-column: 1/3;
		grid-row: 1;
	}
	.item2 {
		grid-column: 1;
		grid-row: 3;
	}
	.item3 {
		grid-column: 2;
		grid-row: 3;
	}
	.item-video {
		grid-column: 1/3;
		grid-row: 2;
	}
	.item-list {
		grid-column: 1/3;
		grid-row: 4;
		ul {
			display: grid;
			grid-gap: @spacing-20;
		}
	}
	.item-ad {
		grid-column: 1/3;
		grid-row: 5;
	}
	
	@media only screen and (min-width: @break-sm) {
		.grid {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(5, auto);
		}
		.item1 {
			grid-column: 1/3;
			grid-row: 1/3;
		}
		.item2 {
			grid-column: 1;
			grid-row: 3/4;
		}
		.item3 {
			grid-column: 2;
			grid-row: 3/4;
		}
		.item-video {
			grid-column: 3/5;
			grid-row: 1;
		}
		.item-list {
			grid-column: 3/5;
			grid-row: 2/5;
		}
		.item-ad {
			grid-column: 1/5;
			grid-row: 5;
		}
	}
	
	@media only screen and (min-width: @break-md) {
		.grid {
			/*
			margin: 0 auto;
			width: @break-md-container;
			*/
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(5, auto);
			grid-gap: @spacing-40;
		}
		.item1 {
			grid-column: 1/3;
			grid-row: 1/3;
		}
		.item2 {
			grid-column: 1;
			grid-row: 3/6;
		}
		.item3 {
			grid-column: 2;
			grid-row: 3/6;
		}
		.item-video {
			grid-column: 3;
			grid-row: 1;
		}
		.item-list {
			grid-column: 3;
			grid-row: 2/5;
		}
		.item-ad {
			grid-column: 3;
			grid-row: 5;
		}
	}
	
	@media only screen and (min-width: @break-lg) {
		.grid {
			margin: 0 auto;
			width: @break-lg-container;
			grid-template-columns: repeat(4, 300px);
			grid-template-rows: repeat(4, auto);
		}
		.item1 {
			grid-column: 1/4;
			grid-row: 1/3;
		}
		.item2 {
			grid-column: 1;
			grid-row: 3;
		}
		.item3 {
			grid-column: 2;
			grid-row: 3;
		}
		.item-video {
			grid-column: 4;
			grid-row: 1;
		}
		.item-list {
			grid-column: 4;
			grid-row: 2/5;
		}
		.item-ad {
			grid-column: 3;
			grid-row: 3;
		}
	}

}







// // // Video

.item-video .player {
	background-color: @fly-light-surface-secondary;
	.border-radius-4();
	overflow: hidden;
	video {
		width: 100%;
	}
	.card {
		padding: @spacing-8;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: @spacing-8;
	}
	.flag {
		/* override */
		margin: 0 !important;
	}
	svg {
		width: 120px;
		height: 16px;
		fill: @fly-light-utility-icon-primary;
	}
}






