@import "../../css/colors.less";
@import "../../css/typography.less";
@import "../../css/utility.less";



/*
/
/	BASIC STYLES
/
*/

body {
	margin: 0 40px;
	background-color: rgb(@fly-light-surface-secondary);
}
.truncate3 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.truncate4 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	overflow: hidden;
}
.hilite {
	background-color: rgba(@color-placeholder, .1);
	box-shadow: inset 0 0 0 1px rgba(@color-placeholder, .5);
}
code {
	font-family: monospace;
}





/*
/
/	GRID
/
*/

section {
	padding: 40px 0;
	.fly-light-utility-border;
}

@media only screen and (min-width: @break-sm) {
}
@media only screen and (min-width: @break-md) {
}
@media only screen and (min-width: @break-lg) {
}

.grid {
	display: flex;
	gap: 40px;
}
.grid div {
	width: 300px;
	background-color: white;
	padding: 0 20px 20px 20px;
}
.grid h1 {
	margin: 20px 0 5px 0;
	font-family: sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	color: rgb(@color-placeholder);
}
.grid h2 {
	.delta();
	color: rgb(@color-offblack);
	.hilite();
}
.grid p {
	.dek();
	margin: 10px 0 10px 0;
	color: rgb(@color-offblack);
	.hilite();
}
.grid small {
	.metadata-default();
	.hilite();
	/* fix vertical spacing */
	display: block;
	width: 100%;
}






/*
/
/	SECTION HEADINGS
/
*/

.hgroup {
	margin: 0 0 40px 0;
	h1 {
		.gamma();
		color: rgb(@fly-light-text-primary);
	}
}







.verdict {
	margin: 40px 0 0 0 !important;
	font-family: sans-serif !important;
	font-size: 16px !important;
	color: rgb(@color-graydark) !important;
	background-color: transparent !important;
	box-shadow: none !important;
}
.prox {
	font-family: "ProximaNova-Bold", sans-serif !important;
}










/*
/
/	TWEAKS
/
*/


.specimens .grid {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.specimens .grid div {
	width: 600px;
}
.specimens h2,
.specimens h3,
.specimens h4,
.specimens p {
	.truncate3() !important;
	.hilite() !important;
}
.specimens h3 {
	/*line-height: 1.1 !important;*/
}

.specimen-alpha {
	h2 {
		.alpha();
	}
	h3 {
		.alpha();
		margin: 0 0 -4px -10px;
		padding: 0 0 4px 10px;
	}
	h4 {
		.alpha();
		margin: 0 0 -.05em -.2em;
		padding: 0 0 .05em .2em;
	}
}
.specimen-beta {
	h2 {
		.beta();
	}
	h3 {
		.beta();
		margin: 0 0 -3px -8px;
		padding: 0 0 3px 8px;
	}
	h4 {
		.beta();
		margin: 0 0 -.05em -.2em;
		padding: 0 0 .05em .2em;
	}
}
.specimen-gamma {
	h2 {
		.gamma();
	}
	h3 {
		.gamma();
		margin: 0 0 -2px -6px;
		padding: 0 0 2px 6px;
	}
	h4 {
		.gamma();
		margin: 0 0 -.05em -.2em;
		padding: 0 0 .05em .2em;
	}
}
.specimen-delta {
	h2 {
		.delta();
	}
	h3 {
		.delta();
		margin: 0 0 -2px -5px;
		padding: 0 0 2px 5px;
	}
	h4 {
		.delta();
		margin: 0 0 -.05em -.2em;
		padding: 0 0 .05em .2em;
	}
}
.specimen-epsilon {
	h2 {
		.epsilon();
	}
	h3 {
		.epsilon();
		margin: 0 0 -2px -3px;
		padding: 0 0 2px 3px;
	}
	h4 {
		.epsilon();
		margin: 0 0 -.05em -.2em;
		padding: 0 0 .05em .2em;
	}
}
.specimen-zeta {
	h2 {
		.zeta();
	}
	h3 {
		.zeta();
		margin: 0 0 -1px -2px;
		padding: 0 0 1px 2px;
	}
	h4 {
		.zeta();
		margin: 0 0 -.05em -.2em;
		padding: 0 0 .05em .2em;
	}
}


