@import "../../css/colors.less";
@import "../../css/typography.less";
@import "../../css/utility.less";





/*
/
/	BASIC STYLES
/
*/

body {
	background-color: white;
}
iframe {
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
}
iframe + p {
	/* first paragraph after each iframe */
	padding-top: 20px
}
.shadow-on {
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.25);
}
.shadow-off {
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0);
}





/*
/
/	Z-INDEX
/
*/

#stickers {
	z-index: 99;
}
#include-nav-sub {
	z-index: 9;
}







/*
/
/	ADS
/
*/

#smart-app-banner {
	padding: 0 9px 0 15px;
	height: 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white);
	.hr-light;
}
#topunit {
	display: none;
}
#bottomunit {
	position: sticky;
	bottom: 0;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(@color-neutral-100,.65);
	text-align: center;
}
#bottomunit div {
	width: 100%;
	height: 90px;
	.wireframe-opaque;
}
@media only screen and (min-width: @break-sm) {
	#smart-app-banner {
		.hr-none;
	}
	#topunit {
		display: initial;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgb(@color-neutral-100);
		text-align: center;
	}
}
@media only screen and (min-width: @break-md) {
	#smart-app-banner {
		display: none;
	}
	#bottomunit div {
		width: 768px;
	}
}







/*
/
/	NAV
/
*/

#stickers {
	position: sticky;
	top: 0;
	width: 100%;
}
#include-nav-main {
	width: 100%;
}
#include-nav-sub {
	position: relative;
	width: 100%;
}
#include-nav-main nav {
	background-image: linear-gradient(rgba(@color-white,1), rgba(@color-white,.85));
	-webkit-backdrop-filter: saturate(200%) blur(20px);
	backdrop-filter: saturate(200%) blur(20px);
	.hr-light;
}
#include-nav-sub nav {
	.hr-light;
}
#include-nav-main nav,
#mainnav a,
.logo {
	transition: all 0.2s linear;
}
@media only screen and (min-width: @break-sm) {
}
@media only screen and (min-width: @break-md) {
	#mainnav .main-outer,
	#subnav ul {
		margin: 0;
		padding: 0 40px;
		width: auto !important;
	}
}
@media only screen and (min-width: @break-lg) {
	#mainnav .main-outer,
	#subnav ul {
		width: auto !important;
	}
}







/*
/
/	STRUCTURE
/
*/

main,
.article-header,
.article-body,
.article-video,
section {
	.wireframe-outline;
}
main {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.article-header {
}
.article-body {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.article-video {
}
@media only screen and (min-width: 640px) {
	main {
		display: grid;
		grid-template-columns: 1fr 288px;
		gap: 20px;
	}
	.article-header {
		grid-column: 1;
	}
	.article-body {
		grid-column: 1;
	}
	.article-video {
		grid-column: 2;
		grid-row: 1 / 3;
	}
}
@media only screen and (min-width: @break-sm) {
}
@media only screen and (min-width: @break-md) {
	main {
		padding: 40px;
		grid-template-columns: 1fr 320px;
		gap: 40px;
	}
}
@media only screen and (min-width: @break-lg) {
	main {
		grid-template-columns: 1fr 400px;
	}
}







/*
/
/	ARTICLE HEADER
/
*/

.article-header {
	display: flex;
	flex-direction: column;
	gap: 16px;
	.wireframe-outline;
}
.article-header .hgroup {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.article-header h1 {
	.headline-small-2024;
	color: rgb(@color-neutral-100);
}
.article-header p {
	.byline-small-2024;
}
.article-header a {
	color: rgb(@color-neutral-50);
	text-decoration: underline;
}
.article-header a:hover {
	color: rgb(@color-neutral-100);
}
.article-header .byline {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
	color: rgb(@color-neutral-50);
}
.article-header .byline img {
	width: 64px;
	height: 64px;
	border-radius: 4px;
}
.article-header .byline div {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
@media only screen and (min-width: @break-sm) {
}
@media only screen and (min-width: @break-md) {
	.article-header h1 {
		.headline-large-2024;
	}
	.article-header p {
		.byline-large-2024;
	}
}
@media only screen and (min-width: @break-lg) {
}





/*
/
/	ARTICLE HEADER: TOPICS & FLAGS
/
*/

.article-header .flag {
	padding: .75em .5em .75em .5em;
	align-self: flex-start;
	.flag-small-2024;
	background-color: rgb(@color-neutral-100);
	color: rgb(@color-neutral-0);
}
.article-header .topic a {
	.topic-small-2024;
	color: rgb(@color-neutral-100);
	text-decoration: none;
}
.article-header .topic a:hover {
	color: rgb(@color-graydark);
	text-decoration: underline;
}
@media only screen and (min-width: @break-sm) {
	.article-header .flag {
		.flag-large-2024;
	}
	.article-header .topic a {
		.topic-large-2024;
	}
}









/*
/
/	ARTICLE VIDEO
/
*/

video {
	width: 100%;
}







/*
/
/	ARTICLE BODY
/
*/

.article-body {
}
.article-body p {
	.article2024-body-sm;
	color: rgb(@color-neutral-100);
	/* vertical spacing between paragraphs: */
	&:not(:last-child) {
		margin: 0 0 .8em 0;
	}
}
.article-body strong {
	.article2024-txt-strong;
}
.article-body em {
	.article2024-txt-normal-italic;
}
@media only screen and (min-width: @break-sm) {
}
@media only screen and (min-width: @break-md) {
	.article-body p {
		.article2024-body-lg;
	}
}
@media only screen and (min-width: @break-lg) {
}







/*
/
/	TAGS
/
*/

.tags {
	display: flex;
	flex-direction: row;
	column-gap: 16px;
	row-gap: 8px;
	.wireframe-outline;
}
.tags h1 {
	.article2024-txt-normal;
	.article2024-txt-sm;
}
.tags ul {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	column-gap: 16px;
	row-gap: 8px;
}
.tags a {
	.article2024-txt-strong;
	.article2024-txt-sm;
	color: rgb(@color-neutral-100);
	text-decoration: none;
}
.tags a:hover {
	color: rgb(@color-graydark);
	text-decoration: underline;
}
@media only screen and (min-width: @break-sm) {
	.tags h1 {
		.article2024-txt-md;
	}
	.tags a {
		.article2024-txt-md;
	}
}











/*
/
/	AUTHOR
/
*/

.author {
	display: flex;
	flex-direction: column;
	gap: 4px;
	.wireframe-outline;
}
.author h1 {
	.article2024-txt-normal;
	.article2024-txt-sm;
}
.author h1 a {
	color: rgb(@color-neutral-100);
	text-decoration: underline;
}
.author h1 a:hover {
	color: rgb(@color-neutral-50);
	text-decoration: underline;
}
.author p {
	.article2024-txt-normal;
	.article2024-txt-sm;
	color: rgb(@color-neutral-50);
}
.author ul {
	display: flex;
	flex-direction: row;
	gap: 16px;
}
.author ul a {
	.article2024-txt-strong;
	.article2024-txt-sm;
	color: rgb(@color-neutral-100);
	text-decoration: none;
}
.author ul a:hover {
	color: rgb(@color-neutral-50);
	text-decoration: underline;
}
@media only screen and (min-width: @break-sm) {
	.author h1,
	.author p,
	.author ul a {
		.article2024-txt-md;
	}
}






