/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* remove vertical spacing below elements */
img, video, svg {
	display: block;
}
/* fix webfont issues */
html {
	-webkit-font-smoothing: antialiased;
}
/* allow styling of individual svg symbol instances */
svg path {
	fill: inherit;
}









/*
/
/	COLORS & FONTS
/
*/

:root {
	--color-offblack: 16,16,16;
	--color-offwhite: 242,242,242;
	--color-graydark: 127,127,127;
	--color-graylight: 232,232,232;
	--color-live: 182,5,5;
	--color-placeholder: 50,197,255;
}

@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('../../fonts/proximanova-regular-webfont.eot'); 
	src: url('../../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/proximanova-regular-webfont.woff2') format('woff2'),
		 url('../../fonts/proximanova-regular-webfont.woff') format('woff');
}
@font-face {
	font-family: 'ProximaNova-Bold';
	src: url('../../fonts/proximanova-bold-webfont.eot'); 
	src: url('../../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/proximanova-bold-webfont.woff2') format('woff2'),
		 url('../../fonts/proximanova-bold-webfont.woff') format('woff');
}





/*
/
/	BASIC STYLES
/
*/

body {
	background-color: white;
}
.wireframe {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid rgb(var(--color-placeholder));
	background-color: rgba(var(--color-placeholder),.5);
	color: rgb(var(--color-placeholder));
	font-family: sans-serif;
	font-size: small;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: .2em;
}
.outline {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid rgb(var(--color-placeholder));
	background-color: rgba(var(--color-placeholder),.5);
}





/*
/
/	SUPERNAV
/
*/

#supernav {
	background-color: rgb(var(--color-offblack));
}
#supernav div {
	margin: 0 auto;
	width: 100%;
	height: 50px;
}
@media only screen and (min-width: 1020px) {
	#supernav div {
		width: 980px;
	}
}
@media only screen and (min-width: 1360px) {
	#supernav div {
		width: 1320px;
	}
}







/*
/
/	NAV
/
*/

nav {
	position: relative;
	width: 100%;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: left;
}
nav .navicon {
	width: 16px;
	height: 16px;
	margin: 0 14px;
}
nav .eye {
	width: 15px;
	height: 15px;
	margin: 0 2px 0 0;
}
nav .locality {
	width: 148.59px;
	height: 15px;
}
nav svg {
	fill: rgb(var(--color-offwhite));
}
@media only screen and (min-width: 1020px) {
	nav {
		width: 980px;
		height: 70px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	nav .navicon {
		display: none;
	}
	nav .eye {
		width: 21px;
		height: 21px;
		margin: 0 4px 0 0;
	}
	nav .locality {
		width: 208.03px;
		height: 21px;
	}
}
@media only screen and (min-width: 1360px) {
	nav {
		width: 1320px;
	}
}





/*
/
/	SHOW HEADER
/
*/

#showheader {
	position: relative;
	background-color: rgb(var(--color-offblack));
}
@media only screen and (min-width: 768px) {
	#showheader {
		background-image:
			/* NOTE: cannot use both CSS variables and background images in Safari! */
			linear-gradient(rgba(16,16,16,0), rgba(16,16,16,1)),
			url('../img/header-new-york.jpg');
		background-size:
			100% 35%,
			cover;
		background-repeat:
			no-repeat,
			no-repeat;
		background-position:
			bottom,
			bottom;
		width: 100%;
		height: 28.125vw;
		overflow: hidden;
	}
}
@media only screen and (min-width: 1360px) {
	#showheader {
		background-color: rgba(var(--color-offblack),1);
		background-image:
			linear-gradient(rgba(16,16,16,0), rgba(16,16,16,1)),
			linear-gradient(to right, rgba(16,16,16,1), rgba(16,16,16,0) 200px, rgba(16,16,16,0) 1120px, rgba(16,16,16,1)),
			url('../img/header-new-york.jpg');
		background-size:
			100% 35%,
			1320px 371.25px,
			1320px auto;
		background-repeat:
			no-repeat,
			no-repeat,
			no-repeat;
		background-position:
			bottom,
			bottom,
			bottom;
		height: 371.25px;
	}
}











/*
/
/	LOCKUP (LOGO & DETAILS)
/
*/

#lockup {
	margin: 10px 20px 0 20px;
	padding: 0 0 20px 0;
}
#lockup .show-logo {
	display: none;
}
#lockup h1 {
	font-family: "ProximaNova-Bold", sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 1;
	color: rgb(var(--color-offwhite));
}
#lockup h2 {
	margin: 5px 0 0 0;
	font-family: "ProximaNova-Regular", sans-serif;
	font-style: normal;
	font-size: 12px;
	line-height: 1;
	color: rgb(var(--color-offwhite));
}
@media only screen and (min-width: 768px) {
	#lockup {
		position: absolute;
		margin: 0 20px;
		padding: 0;
		top: 55%;
		transform: translateY(-50%);
	}
	#lockup .show-logo {
		display: block;
	}
	#lockup svg {
		fill: rgba(var(--color-offwhite),1);
		width: 200px;
		height: 14px;
	}
	#lockup h1 {
		display: none;
	}
	#lockup h2 {
		margin: 10px 0 0 0;
		font-size: 16px;
	}
}
@media only screen and (min-width: 1020px) {
	#lockup {
		margin: 0;
		left: 50%;
		top: 55%;
		width: 980px;
	}
	#lockup .wrapper {
		position: relative;
		left: -50%;
	}
	#lockup svg {
		width: 300px;
		height: 21px;
	}
	#lockup h2 {
		font-size: 24px;
	}
}
@media only screen and (min-width: 1360px) {
	#lockup {
		width: 1320px;
	}
	#lockup svg {
		width: 400px;
		height: 28px;
	}
	#lockup h2 {
		font-size: 30px;
	}
}










