/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* remove vertical spacing below elements */
img, video, svg {
	display: block;
}
/* fix webfont issues */
html {
	-webkit-font-smoothing: antialiased;
}
/* allow styling of individual svg symbol instances */
svg path {
	fill: inherit;
}









/*
/
/	COLOR VARIABLES
/
*/

:root {
	--color-offblack: 16,16,16;
	--color-offwhite: 242,242,242;
	--color-graydark: 127,127,127;
	--color-graylight: 232,232,232;
	--color-live: 182,5,5;
	--color-placeholder: 50,197,255;
	--color-48-hours: 36,44,59;
	--color-48-hours-red-light: 152,42,6;
	--color-48-hours-red-dark: 69,32,25;
	--color-cbs-reports: 23,102,185;
	--color-evening-news: 16,49,86;
	--color-eye-on-america: 6,116,200;
	--color-face-the-nation-red: 157,3,3;
	--color-face-the-nation-blue: 0,120,157;
	--color-minnesota: 0,97,160;
	--color-uplift: 27,110,184;
}









/*
/
/	FONTS
/
*/

@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('../../fonts/ProximaNova-Regular-webfont.woff2') format('woff2'),
		 url('../../fonts/ProximaNova-Regular-webfont.woff') format('woff');
}

@font-face {
	font-family: 'ProximaNova-Bold';
	src: url('../../fonts/ProximaNova-Bold-webfont.woff2') format('woff2'),
		 url('../../fonts/ProximaNova-Bold-webfont.woff') format('woff');
}

@font-face {
	font-family: 'PublicoHeadline-Bold';
	src: url('../../fonts/PublicoHeadline-Bold-Web.woff2') format('woff2'),
		 url('../../fonts/PublicoHeadline-Bold-Web.woff') format('woff');
}

@font-face {
	font-family: 'PublicoHeadline-Black';
	src: url('../../fonts/PublicoHeadline-Black-Web.woff2') format('woff2'),
		 url('../../fonts/PublicoHeadline-Black-Web.woff') format('woff');
}

@font-face {
	font-family: 'PublicoText-Roman';
	src: url('../../fonts/PublicoText-Roman-Web.woff2') format('woff2'),
		 url('../../fonts/PublicoText-Roman-Web.woff') format('woff');
}

@font-face {
	font-family: 'PublicoText-Italic';
	src: url('../../fonts/PublicoText-Italic-Web.woff2') format('woff2'),
		 url('../../fonts/PublicoText-Italic-Web.woff') format('woff');
}









/*
/
/	SPECS
/
*/

.annotation {
	font-size: 20px;
	display: block;
	font-family: sans-serif;
	color: #32C5FF;
	margin: 0 0 20px 20px;
}
.wireframe {
	color: white;
	background-color: rgba(var(--color-placeholder),.5);
	font-family: sans-serif;
	font-size: small;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: .2em;
}






