@import "../../css/colors.less";
@import "../../css/typography.less";
@import "../../css/utility.less";





/*
/
/	BASIC STYLES
/
*/

body {
	background-color: @fly-light-surface-primary;
}
main {
	position: relative;
	top: -49px; /* +1 for weird bug I can't find */
}
@media only screen and (min-width: @break-md) {
	main {
		top: -65px;
	}
}









/*
/
/	NAV MAIN
/
*/

#include-nav-main {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 99;
	nav, a, .logo {
		transition: all 0.2s linear;
	}
}
.shadow-on {
	box-shadow: 0 1px 5px 0 rgba(@color-neutral-black,.25);
}
.shadow-off {
	box-shadow: 0 1px 5px 0 rgba(@color-neutral-black,0);
}

/* DARK OVERRIDES */
#include-nav-main {
	#mainnav {
		background-color: transparent !important;
		a {
			color: @fly-dynamic-text-link-primary;
		}
		a.hover-effect:hover > div {
			background-color: rgba(@color-neutral-0,.2);
		}
		svg {
			fill: @fly-dynamic-brand-primary;
		}
	}
}
.flyout-account {
	a {
		color: @fly-dynamic-text-link-primary !important;
	}
}

.nav-sm-top {
	#mainnav {
		background-image: linear-gradient(rgba(@color-cbs-evening-news,0), rgba(@color-cbs-evening-news,0));
		-webkit-backdrop-filter: none;
		backdrop-filter: none;
		.hr-inset-dark; /* requires fixed height */
		.shadow-off;
	}
}
.nav-sm-scrolled {
	#mainnav {
		background-image: linear-gradient(rgba(@color-cbs-evening-news,1), rgba(@color-cbs-evening-news,.85));
		-webkit-backdrop-filter: saturate(200%) blur(20px);
		backdrop-filter: saturate(200%) blur(20px);
		.hr-inset-dark; /* requires fixed height */
		.shadow-on;
	}
}
.nav-md-top {
	#mainnav {
		background-image: linear-gradient(rgba(@color-cbs-evening-news,0), rgba(@color-cbs-evening-news,0));
		-webkit-backdrop-filter: none;
		backdrop-filter: none;
		.hr-inset-none; /* requires fixed height */
		.shadow-off;
	}
}
.nav-md-scrolled {
	#mainnav {
		background-image: linear-gradient(rgba(@color-cbs-evening-news,1), rgba(@color-cbs-evening-news,.85));
		-webkit-backdrop-filter: saturate(200%) blur(20px);
		backdrop-filter: saturate(200%) blur(20px);
		.hr-inset-dark; /* requires fixed height */
		.shadow-on;
	}
}
.nav-lg-top {
	#mainnav {
		background-image: linear-gradient(rgba(@color-cbs-evening-news,0), rgba(@color-cbs-evening-news,0));
		-webkit-backdrop-filter: none;
		backdrop-filter: none;
		.hr-inset-none; /* requires fixed height */
		.shadow-off;
	}
}
.nav-lg-scrolled {
	#mainnav {
		background-image: linear-gradient(rgba(@color-cbs-evening-news,1), rgba(@color-cbs-evening-news,.85));
		-webkit-backdrop-filter: saturate(200%) blur(20px);
		backdrop-filter: saturate(200%) blur(20px);
		.hr-inset-dark; /* requires fixed height */
		.shadow-on;
	}
}





/*
/
/	BRAND HEADER
/
*/

#brand-header {
	position: relative;
	top: 0;
	background-color: rgb(@color-cbs-evening-news);
}
@media only screen and (min-width: @break-sm) {
	#brand-header {
		background-image:
			linear-gradient(rgba(@color-cbs-evening-news,0), rgba(@color-cbs-evening-news,1)),
			url('../img/show-header-cbs-evening-news.jpg.webp');
		background-size:
			100% 35%,
			cover;
		background-repeat:
			no-repeat,
			no-repeat;
		background-position:
			bottom,
			bottom;
		width: 100%;
		height: 28.125vw;
	}
}
@media only screen and (min-width: @break-md) {
}
@media only screen and (min-width: @break-lg) {
	#brand-header {
		background-image:
			linear-gradient(rgba(@color-cbs-evening-news,0), rgba(@color-cbs-evening-news,1)),
			linear-gradient(to right, rgba(@color-cbs-evening-news,1), rgba(@color-cbs-evening-news,0) 200px, rgba(@color-cbs-evening-news,0) 1120px, rgba(@color-cbs-evening-news,1)),
			url('../img/show-header-cbs-evening-news.jpg.webp');
		background-size:
			100% 35%,
			1320px 371.25px,
			1320px auto;
		background-repeat:
			no-repeat,
			no-repeat,
			no-repeat;
		background-position:
			bottom,
			bottom,
			bottom;
		/*height: 371.25px;*/
		height: 371px; /* rounded down */
	}
}







/*
/
/	BRAND HEADER (LOGO & TIME/DATE)
/
*/

#brand-header .hgroup {
	padding: 68px 20px 20px 20px;
	.show-logo {
		display: none;
	}
	h1 {
		font-family: "ProximaNova-Bold", sans-serif;
		font-style: normal;
		font-size: 16px;
		line-height: 1;
		color: @fly-dynamic-text-primary;
	}
	h2 {
		margin: 5px 0 0 0;
		font-family: "ProximaNova-Regular", sans-serif;
		font-style: normal;
		font-size: 12px;
		line-height: 1;
		color: @fly-dynamic-text-primary;
	}
}
@media only screen and (min-width: @break-sm) {
	#brand-header .hgroup {
		position: absolute;
		margin: 0 20px;
		padding: 0;
		top: 50%;
		transform: translateY(-50%);
		.show-logo {
			display: block;
		}
		svg {
			fill: @fly-dynamic-brand-primary;
			/* 100x11 */
			width: 200px;
			height: 22px;
		}
		h1 {
			display: none;
		}
		h2 {
			margin: 15px 0 0 0;
			font-size: 16px;
		}
	}
}
@media only screen and (min-width: @break-md) {
	#brand-header .hgroup {
		position: relative;
		margin: 0 auto;
		width: @break-md-container;
		svg {
			/* 100x11 */
			width: 300px;
			height: 33px;
		}
		h2 {
			font-size: 24px;
		}
	}
}
@media only screen and (min-width: @break-lg) {
	#brand-header .hgroup {
		width: @break-lg-container;
		svg {
			/* 100x11 */
			width: 400px;
			height: 44px;
		}
		h2 {
			font-size: 30px;
		}
	}
}












/*
/
/	BRAND SUBNAV
/
*/

#subnav-brand {
	position: absolute;
	bottom: -40px;
	width: 100%;
	height: 40px;
	background-color: rgb(@color-cbs-evening-news);
	border-top: 1px solid rgba(@color-offwhite,.15);
	.hr-inset-dark(); /* requires fixed height */
	.wrapper {
		overflow-x: scroll;
		overflow-y: hidden;
		-ms-overflow-style: none;  /* hide scrollbar: IE, Edge */
		scrollbar-width: none;  /* hide scrollbar: Firefox */
		white-space: nowrap;
	}
	.wrapper::-webkit-scrollbar {
		/* hide scrollbar: Safari, Chrome, Opera */
		display: none;
		width: 0;
		height: 0;
		background: transparent;
	}
	ul {
		padding: 0 12px;
		li {
			display: inline-flex;
			flex: auto;
			justify-content: center;
			align-items: center;
		}
	}
	a {
		height: 40px;
		color: @fly-dynamic-text-link-primary;
		font-family: "ProximaNova-Bold", sans-serif;
		font-style: normal;
		font-size: 12px;
		line-height: 1;
		text-decoration: none;
		display: flex;
		justify-content: center;
		align-items: center;
		span {
			padding: 8px;
			border-radius: 4px;
		}
		&:hover span {
			background-color: rgba(@color-neutral-0,.2);
		}
	}
}
@media only screen and (min-width: @break-sm) {
	#subnav-brand {
		bottom: 20px;
		background-color: transparent;
		border: none;
		.wrapper {
			display: flex;
			justify-content: space-between;
			margin: 0 12px;
		}
		ul {
			padding: 0;
		}
	}
}
@media only screen and (min-width: @break-md) {
	#subnav-brand {
		.wrapper {
			margin: 0 auto;
			width: calc(@break-md-container + 16px);
		}
	} 
}
@media only screen and (min-width: @break-lg) {
	#subnav-brand {
		.wrapper {
			width: calc(@break-lg-container + 16px);
		}
	}
}
















/*
/
/	VIDEO SHELF OVERRIDES
/
*/

@media only screen and (min-width: @break-md) {
	#include-video-single {
		.shelfVideo {
			padding-top: 0;
			background-color: rgb(@color-cbs-evening-news);
		}
		.heading {
			display: none;
		}
	}
}












/*
/
/	ADS
/
*/

#bottomunit {
	position: sticky;
	bottom: 0;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(@color-neutral-100,.65);
	text-align: center;
	div {
		width: 100%;
		height: 90px;
		.wireframe-opaque;
	}
}
@media only screen and (min-width: @break-md) {
	#bottomunit {
		div {
			width: 768px;
		}
	}
}








