/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* remove vertical spacing below elements */
img, video {
	display: block;
}
/* fix webfont issues */
html {
	-webkit-font-smoothing: antialiased;
}
/* allow styling of individual svg symbol instances */
svg path {
	fill: inherit;
}









/*
/
/	COLORS & FONTS
/
*/

:root {
	--color-offblack: #101010;
	--color-offwhite: #F2F2F2;
	--color-graydark: #7F7F7F;
	--color-graylight: #E8E8E8;
	--color-live: #B60505;
}

@font-face {
	font-family: "ProximaNova-Regular";
	src: url('../../fonts/proximanova-regular-webfont.eot'); 
	src: url('../../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/proximanova-regular-webfont.woff2') format('woff2'),
		 url('../../fonts/proximanova-regular-webfont.woff') format('woff');
}
@font-face {
	font-family: "ProximaNova-Bold";
	src: url('../../fonts/proximanova-bold-webfont.eot'); 
	src: url('../../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/proximanova-bold-webfont.woff2') format('woff2'),
		 url('../../fonts/proximanova-bold-webfont.woff') format('woff');
}

@font-face {
	font-family: "PublicoHeadline-Bold";
	src: url('../../fonts/PublicoHeadline-Bold-Web.eot'); 
	src: url('../../fonts/PublicoHeadline-Bold-Web.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/PublicoHeadline-Bold-Web.woff2') format('woff2'),
		 url('../../fonts/PublicoHeadline-Bold-Web.woff') format('woff');
}

@font-face {
	font-family: "PublicoHeadline-Black";
	src: url('../../fonts/PublicoHeadline-Black-Web.eot'); 
	src: url('../../fonts/PublicoHeadline-Black-Web.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/PublicoHeadline-Black-Web.woff2') format('woff2'),
		 url('../../fonts/PublicoHeadline-Black-Web.woff') format('woff');
}

@font-face {
	font-family: "PublicoText-Roman";
	src: url('../../fonts/PublicoText-Roman-Web.eot'); 
	src: url('../../fonts/PublicoText-Roman-Web.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/PublicoText-Roman-Web.woff2') format('woff2'),
		 url('../../fonts/PublicoText-Roman-Web.woff') format('woff');
}













/*
/
/	BASIC STYLES
/
*/

body {
	background-color: white;
}












/*
/
/	GRID
/
*/

.article {
}
.body-copy {
	margin: 0 20px;
}

@media only screen and (min-width: 768px) {
	.body-copy {
		margin: 0 40px;
	}
}
@media only screen and (min-width: 1020px) {
	.article {
		margin: 0 auto;
		width: 980px;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 40px;
		align-items: start;
	}
	.body-copy {
		margin: 0;
		grid-column: 3/11;
	}
}
@media only screen and (min-width: 1360px) {
	.article {
		width: 1320px;
	}
	.body-copy {
		grid-column: 2/10;
	}

}







/*
/
/	ARTICLE STYLES
/
*/

.body-copy p {
	margin: 0 0 20px 0;
	font-family: "PublicoText-Roman", serif;
	font-size: 18px;
	line-height: 25px;
	color: var(--color-offblack);
}
@media only screen and (min-width: 768px) {
	.body-copy p {
		margin: 0 0 25px 0;
		font-size: 21px;
		line-height: 31px;
	}
}













/*
/
/	BREAKING NEWS
/
*/

#breaking-news {
	position: fixed;
	top: 0;
	background: linear-gradient(to right, #B60505 calc(80px * 1.777777777777778), #DE3D05 100%);
	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
	box-shadow: 0 4px 12px 0 rgba(0,0,0,0.25);
	cursor: pointer;
}
#breaking-news .video-container video {
	display: none;
}
#breaking-news .hgroup {
	margin: 0 20px;
}
#breaking-news .metadata {
	display: flex;
	align-items: center;
}
#breaking-news .metadata li {
	margin: 0 15px 5px 0;
	/* padding: 6px 6px 5px 6px; */
	font-family: "ProximaNova-Regular", sans-serif;
	font-size: 10px;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	color: var(--color-offwhite);
	/* background: var(--color-offwhite); */
}
#breaking-news h1 {
	font-family: "ProximaNova-Bold", sans-serif;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.3px;
	color: var(--color-offwhite);
}
#breaking-news:hover h1 {
	text-decoration: underline;
}

@media only screen and (min-width: 768px) {
	#breaking-news .video-container {
		position: relative;
	}
	#breaking-news .video-container video {
		display: initial;
	}
	#breaking-news .video-overlay {
		position: absolute;
		width: calc(80px * 1.777777777777778);
		height: 80px;
		top: 0;
		left: 0;
		background-image: linear-gradient(to right, rgba(0,0,0,0.20) 0%, rgba(166,6,6,0.50) 50%, #B60505 100%);
		z-index: 2;
	}
	#breaking-news video {
		position: relative;
		width: auto;
		height: 80px;
		z-index: 1;
	}
}
@media only screen and (min-width: 1020px) {
	#breaking-news {
		top: auto;
		bottom: 0;
		height: 140px;
		background: linear-gradient(to right, #B60505 calc(140px * 1.777777777777778), #DE3D05 100%);
		box-shadow: 0 -4px 12px 0 rgba(0,0,0,0.25);
	}
	#breaking-news .video-overlay {
		position: absolute;
		width: calc(140px * 1.777777777777778);
		height: 140px;
	}
	#breaking-news video {
		height: 140px
	}
	#breaking-news .hgroup {
		margin: 0 40px;
	}
	#breaking-news .metadata li {
		margin: 0 20px 10px 0;
		/* padding: 10px 10px 8px 10px; */
		font-family: "ProximaNova-Bold", sans-serif;
		font-size: 12px;
		letter-spacing: 2px;
	}
	#breaking-news h1 {
		font-family: "PublicoHeadline-Black", serif;
		font-size: 32px;
		line-height: 1;
		letter-spacing: normal;
	}
}
@media only screen and (min-width: 1360px) {
}









/*
/
/	VIDEO BUTTON
/
*/

.video-button {
	margin: 0 0 0 20px;
	width: 40px;
	height: 40px;
	z-index: 3;
	background: var(--color-offwhite);
	font-family: "ProximaNova-Regular", sans-serif;
	font-size: 10px;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	color: var(--color-live);
	display: flex;
	align-items: center;
	justify-content: center;
}
.video-button svg {
	width: 12px;
	height: 12px;
	fill: var(--color-live);
}
.video-button .label {
	display: none;
}

@media only screen and (min-width: 768px) {
	.video-button {
		margin: 0 0 0 -15px;
		position: absolute;
		width: 30px;
		height: 30px;
		top: 25px;
		left: 50%;
		z-index: 3;
		background: var(--color-offwhite);
	}
	.video-button svg {
		width: 10px;
		height: 10px;
		fill: var(--color-live);
	}
	#breaking-news:hover .video-button {
		background: var(--color-live);
		color: var(--color-offwhite);
	}
	#breaking-news:hover .video-button svg {
		fill: var(--color-offwhite);
	}
}

@media only screen and (min-width: 1020px) {
	.video-button {
		margin: 0 0 0 -45px;
		width: 90px;
		height: 40px;
		top: 45px;
		font-family: "ProximaNova-Bold", sans-serif;
		font-size: 12px;
		letter-spacing: 2px;
	}
	.video-button .label {
		display: inherit;
		margin: 0 0 0 5px;
	}
	.video-button svg {
		width: 8px;
		height: 8px;
	}
}







/*
/
/	CLOSE BUTTON
/
*/

.button-close {
	position: absolute;
	background: white;
	height: 24px;
	width: 24px;
	right: 10px;
	top: 90px;
	border-radius: 100%;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
	display: flex;
	align-items: center;
	justify-content: center;
}
.button-close svg {
	width: 8px;
	height: 8px;
}
.button-close:hover {
	box-shadow: none;
	background: var(--color-offblack);
}
.button-close:hover svg {
	fill: var(--color-offwhite);
}
@media only screen and (min-width: 1020px) {
	.button-close {
		height: 40px;
		width: 40px;
		right: 20px;
		top: -60px;
	}
	.button-close svg {
		width: 14px;
		height: 14px;
	}
}







/*
/
/	CLOSE BUTTON - SEPARATED
/
*/

#breaking-close {
	position: absolute;
	background: white;
	right: 20px;
	bottom: 200px;
	height: 24px;
	width: 24px;
	border-radius: 100%;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
	display: flex;
	align-items: center;
	justify-content: center;
}
#breaking-close svg {
	width: 8px;
	height: 8px;
}
#breaking-close:hover {
	box-shadow: none;
	background: var(--color-offblack);
}
#breaking-close:hover svg {
	fill: var(--color-offwhite);
}










/*
/
/	Z-INDICIES
/
*/



#breaking-news {
	z-index: 99;
}














