/*
/
/		APP & ADS
/
*/

.app-promo {
	height: 45px;
}
.skybox {
	display: none;
}
.component-midarticle {
	width: 100%;
	height: 100px;
	margin: 0 0 24px 0;
}
.component-embed {
	width: 100%;
	aspect-ratio: 16 / 9;
	margin: 0 0 24px 0;
}
.taboola {
	width: 100%;
	height: 430px;
}
.recirc {
	margin: 0 auto;
	width: 300px;
	height: 600px;
}
@media only screen and (min-width: 768px) {
	.taboola {
		height: 260px;
	}
}
@media only screen and (min-width: 1028px) {
	.app-promo {
		display: none;
	}
	.skybox {
		display: flex;
		position: sticky;
		top: 0;
		width: 100%;
		aspect-ratio: 5;
		transition: all 1s;
	}
	.skybox-expanded {
		aspect-ratio: 5;
	}
	.skybox-collapsed {
		aspect-ratio: unset;
		height: 105px;
	}
}
@media only screen and (min-width: 1520px) {
}









/*
/
/		NAV & SUPERNAV
/
*/

nav {
	background-color: white;
}
nav ul {
	height: 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-desktop {
	display: none;
}
.supernav {
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid rgb(var(--color-graylight));
	overflow-x: hidden;
}
.supernav ul {
	margin: 0 0 0 24px;
	display: flex;
	flex-wrap: nowrap;
}
.supernav li {
	padding: 0 15px;
	border-right: 1px solid rgb(var(--color-graydark));
	font-family: "ProximaNova-Bold", sans-serif;
	font-size: 13px;
}
.supernav li:first-child {
	padding-left: 0;
}
.supernav li:last-child {
	padding-right: 0;
	border: none;
}
.supernav a {
	text-decoration: none;
	color: rgb(var(--color-offblack));
}
.supernav a:hover {
	text-decoration: underline;
}
@media only screen and (min-width: 768px) {
	.supernav ul {
		margin: 0 0 0 24px;
	}
}
@media only screen and (min-width: 1028px) {
	.supernav ul {
		margin: 0 32px;
	}
	nav,
	.nav-scrolldown {
		position: block;
		top: 105px;
	}
	.nav-scrollup {
		position: sticky;
		top: 105px;
		border-bottom: 1px solid rgb(var(--color-graylight));
	}
	nav ul {
		margin: 0 32px;
		height: 70px;
	}
	.nav-mobile {
		display: none;;
	}
	.nav-desktop {
		display: block;
	}
}
@media only screen and (min-width: 1520px) {
	.supernav ul {
		margin: 0 auto;
		width: 1456px;
	}
	nav ul {
		margin: 0 auto;
		width: 1456px;
	}
}








/*
/
/		GRID
/
*/

.column-rail {
	display: none;
}
@media only screen and (min-width: 768px) {
	.grid {
		margin: 0 24px;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 24px;
	}
	.column-main {
		grid-column: 2/12;
	}
}

@media only screen and (min-width: 1028px) {
	.grid {
		margin: 0 32px;
		grid-gap: 32px;
	}
	.column-main {
		grid-column: 1/9;
	}
	.column-rail {
		margin: 20px 0 0 0;
		display: block;
		grid-column: 9/13;
	}
	.column-rail .sticky,
	.column-rail .sticky-scrolldown {
		position: sticky;
		/* skybox + vertical spacing */
		top: calc(105px + 24px);
	}
	.column-rail .sticky-scrollup {
		/* skybox + nav + vertical spacing */
		top: calc(105px + 70px + 24px);
	}
}

@media only screen and (min-width: 1520px) {
	.grid {
		margin: 0 auto;
		width: 1456px;
	}
	.column-main {
		grid-column: 1/8;
	}
	.column-rail {
		grid-column: 9/13;
	}
}







/*
/
/		ARTICLE
/
*/

article {
	margin: 24px 0;
	padding: 0 0 24px 0;
	border-bottom: 1px solid rgb(var(--color-graylight));
}
/* so video can be full width */
.article-header,
.article-body {
	margin: 0 24px;
}
.infinite {
	display: none;
}
@media only screen and (min-width: 768px) {
	article {
		margin: 24px;
	}
	.article-header,
	.article-body {
		margin: 0;
	}
	.infinite {
		display: block;
	}
}
@media only screen and (min-width: 1028px) {
	article {
		margin: 32px 0;
		padding: 0 0 32px 0;
	}
}
@media only screen and (min-width: 1520px) {
}







/*
/
/		ARTICLE HEADER
/
*/

.topic {
	margin: 0 8px 0 0;
	padding: 6px 6px 5px 8px;
	font-family: "ProximaNova-Bold", sans-serif;
	font-size: 12px;
	color: rgb(var(--color-offblack));
	letter-spacing: 2px;
	background-color: rgb(var(--color-graylight));
	text-transform: uppercase;
	border-radius: 2px;
	text-decoration: none;
}
.topic-live {
	color: rgb(var(--color-offwhite));
	background-image: linear-gradient(225deg, #E04105 0%, #B60505 100%);
}
a.topic:hover {
	background-color: white;
	box-shadow: 0 0 0 1px rgb(var(--color-offblack)) inset;
}
a.topic:active {
	color: rgb(var(--color-offwhite));
	background-color: rgb(var(--color-offblack));
}
.article-header h1 {
	margin: 16px 0;
	font-family: "PublicoHeadline-Bold", serif;
	font-size: 24px;
	line-height: 1.05;
	color: rgb(var(--color-offblack));
}
.article-meta-wrapper {
	margin: 0 0 24px 0;
	display: flex;
	align-items: center;
}
.article-meta {
	display: flex;
	align-items: center;
}
.article-meta li:last-child {
	margin-left: auto;
}
.article-byline li {
	font-family: "ProximaNova-Regular", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 1;
	color: rgb(var(--color-offblack));
}
.article-byline li:not(:last-child) {
    margin-bottom: 7px;
}
.article-byline a {
	font-family: "ProximaNova-Bold", sans-serif;
	text-decoration: none;
	color: rgb(var(--color-offblack));
}
.article-byline a:hover {
	text-decoration: underline;
}
.article-byline a:active {
	text-decoration: none;
}
.chip {
	width: 64px;
	height: 64px;
	margin: 0 16px 0 0;
}
.disclaimer {
	margin: 0 0 24px 0;
	color: rgb(var(--color-offblack));
	font-family: "ProximaNova-Regular", sans-serif;
	font-size: 13px;
	line-height: 1.2;
}

@media only screen and (min-width: 768px) {
	.article-header h1 {
		font-family: "PublicoHeadline-Black", serif;
		font-size: 45px;
	}
	.article-meta-wrapper {
		padding: 0;
		border: none;
	}
	.article-meta {
	}
	.article-byline li {
		font-size: 15px;
	}
	.disclaimer {
		font-size: 15px;
	}
}
@media only screen and (min-width: 1028px) {
}
@media only screen and (min-width: 1520px) {
}







/*
/
/		VIDEO
/
*/

.lead-video-mobile {
	width: 100%;
	position: sticky;
	top: 0;
	margin: 0 0 24px 0;
}
.lead-video-embed {
	margin: 0 0 24px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 16 / 9;
	text-align: center;
}
.lead-video-embed ul {
}
.lead-video-embed ul li {
}
.lead-video-embed div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto 8px auto;
	background-color: rgba(var(--color-offblack),0.35);
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
.lead-video-embed div svg {
	margin: 0 0 0 5px;
	height: 25px;
	width: 25px;
	fill: rgb(var(--color-offwhite));
}
.lead-video-embed li:nth-child(2) {
	margin: 0 0 4px 0;
	font-family: "ProximaNova-Bold", sans-serif;
	font-size: 13px;
	color: rgb(var(--color-offwhite));
	letter-spacing: 0.3px;
	line-height: 1.05;
}
.lead-video-embed li:nth-child(3) {
	font-family: "ProximaNova-Regular", sans-serif;
	font-size: 11px;
	color: rgb(var(--color-offwhite));
	letter-spacing: 1.7px;
}

@media only screen and (min-width: 768px) {
	.lead-video-mobile {
		margin: 0 auto;
	}
	.lead-video-embed div {
		height: 80px;
		width: 80px;
	}
	.lead-video-embed div svg {
		height: 35px;
		width: 35px;
	}
	.lead-video-embed li:nth-child(2) {
		margin: 0 0 8px 0;
		font-family: "PublicoHeadline-Bold", serif;
		font-size: 17px;
	}
	.lead-video-embed li:nth-child(3) {
		font-family: "ProximaNova-Bold", sans-serif;
		font-size: 12px;
		letter-spacing: 2px;
	}
}

@media only screen and (min-width: 1028px) {
	.lead-video-mobile {
		display: none;
	}
	.lead-video-desktop {
		margin: 0 0 32px 0;
	}
	.lead-video-desktop video {
		border-radius: 3px 3px 0 0;
		width: 100%;
	}
	.lead-video-desktop div {
		background: rgb(var(--color-offblack));
		padding: 16px;
		display: flex;
		align-items: center;
		border-radius: 0 0 3px 3px;
	}
	.lead-video-desktop h1 {
		margin: 0 0 0 8px;
		font-family: "ProximaNova-Regular", sans-serif;
		font-size: 18px;
		line-height: 1;
		color: rgb(var(--color-offwhite));
	}
}

@media only screen and (min-width: 1520px) {
}






/*
/
/		ARTICLE BODY CONTENT
/
*/

article p {
	margin: 0 0 1em 0;
	font-family: "PublicoText-Roman", serif;
	font-size: 18px;
	line-height: 25px;
	color: rgb(var(--color-offblack));
}
article em {
	font-family: "PublicoText-Italic", serif;
}
article hr {
	border: 0;
	height: 1px;
	background: rgb(var(--color-graylight));
}

@media only screen and (min-width: 768px) {
	article p {
		font-size: 21px;
		line-height: 31px;
	}
}

@media only screen and (min-width: 1028px) {
	article hr {
		margin: 0 0 32px 0;
	}
}









/*
/
/		SOCIAL
/
*/

.share-wrapper {
	display: none;
}

@media only screen and (min-width: 768px) {
	.share-wrapper {
		display: block;
		position: relative;
	}
	.share-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		background-color: rgb(var(--color-graylight));
		border: none;
		outline: none;
		cursor: pointer;
	}
	.share-btn:hover {
		background: white;
		box-shadow: inset 0 0 0 1px rgb(var(--color-offblack));
	}
	.share-btn:active {
		background: rgb(var(--color-offblack));
	}
	.share-btn:active svg {
		fill: rgb(var(--color-offwhite));
	}
	.share-btn svg {
		width: 12px;
		height: 12px;
		fill: rgb(var(--color-offblack));
	}
	.share-modal {
		z-index: 100;
		position: absolute;
		top: 40px;
		right: 0;
		padding: 15px;
		background: white;
		box-shadow:
			inset 0 0 0 1px rgb(var(--color-offblack)),
			0 2px 4px 0 rgba(0,0,0,.5);
		border-radius: 5px;
	}
	.share-modal img {
		width: 10px;
		height: 6px;
		position: absolute;
		top: -5px;
		right: 10px;
	}
	.share-modal ul li:not(:first-of-type) {
		margin: 12px 0 0 0;
	}
	.share-modal ul li:not(:last-of-type) {
		margin: 0 0 12px 0;
	}
	.share-modal a {
		display: flex;
		align-items: center;
		font-family: "ProximaNova-Bold", sans-serif;
		font-size: 12px;
		color: rgb(var(--color-offblack));
		letter-spacing: 2px;
		text-transform: uppercase;
		text-decoration: none;
		white-space: nowrap; /* prevent text wrap */
	}
	.share-modal a:hover {
		text-decoration: underline;
	}
	.share-modal a:active {
		text-decoration: none;
	}
	.share-modal svg {
		margin: 0 10px 0 0;
		width: 16px;
		height: 16px;
		fill: rgb(var(--color-offblack));
	}
}







/*
/
/		TAGS
/
*/

.tags {
	margin: 0 0 24px 0;
}
.tags li {
	margin: 0 16px 8px 0;
	font-family: "ProximaNova-Bold", sans-serif;
	font-size: 15px;
	display: inline-block;
}
.tags li:first-child {
	font-family: "ProximaNova-Regular", sans-serif;
}
.tags li:last-child {
	padding-right: 0;
}
.tags a {
	text-decoration: none;
	color: rgb(var(--color-offblack));
}
.tags a:hover {
	text-decoration: underline;
}
.tags a:active {
	text-decoration: none;
}














